<ion-content class="full">
  <ion-card>
    <ion-card-header>
      <ion-card-title> <ion-icon name="book" style="color: white;" size="large"></ion-icon> NR-04</ion-card-title>
      <ion-card-subtitle>Serviço Especializado em Engenharia de Segurança e Medicina do Trabalho</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br>
      <br><br>Publicação D.O.U.
      <br>Portaria MTb n.º 3.214, de 08 de junho de 1978 06/07/78
      <br>Alterações/Atualizações D.O.U.<br>
      Portaria SSMT n.º 33, de 27de outubro de 1983 31/10/83<br>
      Portaria SSMT n.º 34, de 20 de dezembro de 1983 29/12/83<br>
      Portaria SSMT n.º 34, de 11 de dezembro de 1987 16/12/87<br>
      Portaria DSST n.º 11, de 17 de setembro de 1990 20/09/90<br>
      Portaria DSST n.º 04, de 08 de outubro de 1991 10/10/91<br>
      Portaria SNT n.º 04, de 06 de fevereiro de 1992 10/02/92<br>
      Portaria SSST n.º 08, de 01 de junho de 1993 03/06/93<br>
      Portaria SSST n.º 01, de 12 de maio de 1995 25/05/95<br>
      Portaria SIT n.º 17, de 01 de agosto de 2007 02/08/07<br>
      Portaria SIT n.º 76, de 21 de novembro de 2008 25/11/08<br>
      Portaria SIT n.º 128, de 11 de dezembro de 2009 14/12/09<br>
      Portaria MTE n.º 590, de 28 de abril de 2014 30/04/14<br>
      Portaria MTE n.º 2.018, de 23 de dezembro de 2014 24/12/14<br>
      Portaria MTPS n.º 510, de 29 de abril de 2016 02/05/16<br>
      Portaria MTPS n.º 2.318 de 3 de agosto de 2022 12/08/22<br><br>

      4.1 Objetivo<br><br>

      4.1.1 Esta Norma estabelece os parâmetros e os requisitos para constituição e manutenção dos Serviços
      Especializados em Segurança e Medicina do Trabalho - SESMT, com a finalidade de promover a saúde e proteger a
      integridade do trabalhador.<br><br>

      4.2 Campo de aplicação<br><br>

      4.2.1 As organizações e os órgãos públicos da administração direta e indireta, bem como os órgãos dos Poderes
      Legislativo e Judiciário e do Ministério Público, que possuam empregados regidos pelo Decreto-Lei nº 5.452, de 1º
      de maio de 1943 - Consolidação das Leis do Trabalho - CLT, devem constituir e manter os SESMT, no local de
      trabalho, nos termos definidos nesta NR.<br><br>

      4.2.2 Nos termos previstos em lei, aplica-se o disposto nesta NR a outras relações jurídicas de trabalho.
      <br><br>
      4.3 Competência, composição e funcionamento
      <br><br>
      4.3.1 Compete aos SESMT:<br><br>

      a) elaborar ou participar da elaboração do inventário de riscos;
      <br>
      b) acompanhar a implementação do plano de ação do Programa de Gerenciamento de Riscos - PGR;
      <br>
      c) implementar medidas de prevenção de acordo com a classificação de risco do PGR e na ordem de prioridade
      estabelecida na Norma Regulamentadora nº 01 (NR-01) - Disposições Gerais e Gerenciamento de Riscos Ocupacionais;
      <br>
      d) elaborar plano de trabalho e monitorar metas, indicadores e resultados de segurança e saúde no trabalho;
      <br>
      e) responsabilizar-se tecnicamente pela orientação quanto ao cumprimento do disposto nas NR aplicáveis às
      atividades executadas pela organização;
      <br>
      f) manter permanente interação com a Comissão Interna de Prevenção de Acidentes - CIPA, quando existente;
      <br>
      g) promover a realização de atividades de orientação, informação e conscientização dos trabalhadores para a
      prevenção de acidentes e doenças relacionadas ao trabalho;
      <br>
      h) propor, imediatamente, a interrupção das atividades e a adoção de medidas corretivas e/ou de controle quando
      constatar condições ou situações de trabalho que estejam associadas a grave e iminente risco para a segurança ou a
      saúde dos trabalhadores;
      <br>
      i) conduzir ou acompanhar as investigações dos acidentes e das doenças relacionadas ao trabalho, em conformidade
      com o previsto no PGR;
      <br>
      j) compartilhar informações relevantes para a prevenção de acidentes e de doenças relacionadas ao trabalho com
      outros SESMT de uma mesma organização, assim como a CIPA, quando por esta solicitado; e
      <br>
      k) acompanhar e participar nas ações do Programa de Controle Médico de Saúde Ocupacional - PCMSO, nos termos da
      Norma Regulamentadora nº 07 (NR-07).
      <br><br>
      4.3.2 O SESMT deve ser composto por médico do trabalho, engenheiro de segurança do trabalho, técnico de segurança
      do trabalho, enfermeiro do trabalho e auxiliar/técnico em enfermagem do trabalho, obedecido o Anexo II.
      <br><br>
      4.3.3 Os profissionais integrantes do SESMT devem possuir formação e registro profissional em conformidade com o
      disposto na regulamentação da profissão e nos instrumentos normativos emitidos pelo respectivo conselho
      profissional, quando existente.
      <br><br>
      4.3.4 O SESMT deve ser coordenado por um dos profissionais integrantes deste serviço.
      <br><br>
      4.3.5 O técnico de segurança do trabalho e o auxiliar/técnico de enfermagem do trabalho devem dedicar quarenta e
      quatro horas por semana para as atividades do SESMT, de acordo com o estabelecido no Anexo II, observadas as
      disposições, inclusive relativas à duração do trabalho, de legislação pertinente, de acordo ou de convenção
      coletiva de trabalho.
      <br><br>
      4.3.6 Na modalidade de SESMT individual, caso a organização possua mais de um técnico de segurança do trabalho,
      conforme dimensionamento previsto nesta NR, as escalas de trabalho devem ser estabelecidas de forma a garantir o
      atendimento por pelo menos um desses profissionais em cada turno que atingir cento e um ou mais trabalhadores,
      para a atividade de grau de risco 3, e cinquenta ou mais trabalhadores, para a atividade de grau de risco 4, sem
      implicar em acréscimo no número de profissionais previstos no Anexo II.
      <br><br>
      4.3.7 O engenheiro de segurança do trabalho, o médico do trabalho e o enfermeiro do trabalho devem dedicar, no
      mínimo, quinze horas (tempo parcial) ou trinta horas (tempo integral) por semana, para as atividades do SESMT, de
      acordo com o estabelecido no Anexo II, respeitada a legislação pertinente em vigor, durante o horário de
      expediente do estabelecimento.
      <br><br>
      4.3.7.1 Relativamente aos profissionais referidos no item 4.3.7, para cumprimento das atividades dos SESMT em
      tempo integral, a organização pode contratar mais de um profissional, desde que cada um dedique, no mínimo, a
      metade da carga horária semanal.
      <br><br>
      4.3.8 Aos profissionais do SESMT é vedado o exercício de atividades que não façam parte das atribuições previstas
      no item 4.3.1 desta NR e em outras NR, durante o horário de atuação neste serviço.
      <br><br>
      4.3.9 A organização deve garantir os meios e recursos necessários para o cumprimento dos objetivos e atribuições
      do SESMT.<br><br>

      4.4 Modalidades<br><br>

      4.4.1 O SESMT deve ser constituído nas modalidades individual, regionalizado ou estadual.
      <br><br>
      4.4.1.1 O SESMT, independentemente de sua modalidade, deve atender estabelecimentos da mesma unidade da federação,
      ressalvado o previsto no item 4.4.5.
      <br><br>
      4.4.2 A organização deve constituir SESMT individual quando possuir estabelecimento enquadrado no Anexo II desta
      NR.
      <br><br>
      4.4.3 A organização deve constituir SESMT regionalizado quando possuir estabelecimento que se enquadre no Anexo II
      e outro(s) estabelecimento(s) que não se enquadre(m), devendo o primeiro estender a assistência em segurança e
      saúde aos demais e considerar o somatório de trabalhadores atendidos no seu dimensionamento, bem como o disposto
      no item 4.5.1 e seus subitens.
      <br><br>
      4.4.3.1 Havendo mais de um estabelecimento que se enquadre no Anexo II, a empresa pode constituir mais de um SESMT
      regionalizado.
      <br><br>
      4.4.4 A organização deve constituir SESMT estadual quando o somatório de trabalhadores de todos os
      estabelecimentos da mesma unidade da federação alcance os limites previstos no Anexo II, desde que nenhum
      estabelecimento individualmente se enquadre, observado o disposto no item 4.5.1 e seus subitens.
      <br><br>
      4.4.5 Uma ou mais organizações de mesma atividade econômica, localizadas em um mesmo município ou em municípios
      limítrofes, ainda que em diferentes unidades da federação, cujos estabelecimentos se enquadrem no Anexo II, podem
      constituir SESMT compartilhado, organizado pelas próprias interessadas ou na forma definida em acordo ou convenção
      coletiva de trabalho.
      <br><br>
      4.4.5.1 O SESMT compartilhado pode ser estendido a organizações cujos estabelecimentos não se enquadrem no Anexo
      II, devendo considerar no dimensionamento o somatório dos trabalhadores assistidos e o disposto no item 4.5.1 e
      seus subitens.
      <br><br>
      4.4.5.2 Os trabalhadores assistidos pelo SESMT compartilhado não integram a base de cálculo para dimensionamento
      de outras modalidades de SESMT.
      <br><br>
      4.5 Dimensionamento
      <br><br>
      4.5.1 O dimensionamento do SESMT vincula-se ao número de empregados da organização e ao maior grau de risco entre
      a atividade econômica principal e atividade econômica preponderante no estabelecimento, nos termos dos Anexos I e
      II, observadas as exceções previstas nesta NR.
      <br><br>
      4.5.1.1 A atividade econômica principal é a constante no Cadastro Nacional de Pessoa Jurídica - CNPJ.
      <br><br>
      4.5.1.2 A atividade econômica preponderante é aquela que ocupa o maior número de trabalhadores.
      <br><br>
      4.5.1.2.1 Em atividades econômicas distintas com o mesmo número de trabalhadores, deve ser considerada como
      preponderante aquela com maior grau de risco.
      <br><br>
      4.5.2 Na contratação de empresa prestadora de serviços a terceiros, o SESMT da contratante deve ser dimensionado
      considerando o número total de empregados da contratante e trabalhadores das contratadas, quando o trabalho for
      realizado de forma não eventual nas dependências da contratante ou local previamente convencionado em contrato,
      observado o disposto no item 4.5.1 e seus subitens.
      <br><br>
      4.5.2.1 Considera-se, para fins desta NR, trabalho eventual aquele decorrente de evento futuro e incerto.
      <br><br>
      4.5.2.2 Excluem-se do dimensionamento do SESMT da contratante os trabalhadores das contratadas atendidos pelos
      SESMT das contratadas.
      <br><br>
      4.5.3 O dimensionamento do SESMT regionalizado ou estadual com estabelecimentos de graus de risco diversos deve
      considerar o somatório dos trabalhadores de todos os estabelecimentos atendidos.
      <br><br>
      4.5.3.1 Para estabelecimentos graus de risco 1 e 2 de Microempresas - ME e Empresas de Pequeno Porte - EPP, deve
      ser considerado o somatório da metade do número de trabalhadores desses estabelecimentos.
      <br><br>
      4.5.4 Para fins de dimensionamento, os canteiros de obras e as frentes de trabalho com menos de mil trabalhadores
      e situados na mesma unidade da federação não são considerados como estabelecimentos, mas como integrantes da
      empresa de engenharia principal responsável, a quem cabe organizar os SESMT.
      <br><br>
      4.5.4.1 Para fins de aplicação do item 4.5.4:
      <br><br>
      a) os engenheiros de segurança do trabalho, os médicos do trabalho e os enfermeiros do trabalho podem ficar
      centralizados; e
      <br>
      b) o dimensionamento para os técnicos de segurança do trabalho e auxiliares/técnicos de enfermagem do trabalho
      deve ser feito por canteiro de obra ou frente de trabalho, conforme o Anexo II.
      <br>
      <br>
      4.5.4.2 A organização deve garantir que o SESMT atenda, no exercício de suas competências, a todos os canteiros de
      obras e frentes de trabalho.
      <br><br>
      4.5.5 Quando se tratar de empreiteiras, considera-se estabelecimento, para fins de aplicação desta NR, o local em
      que os seus empregados estiverem exercendo suas atividades.
      <br><br>
      4.5.6 Para as organizações que já possuem SESMT constituído, em qualquer uma das suas modalidades, em caso de
      aumento no dimensionamento decorrente da contratação de trabalhadores por prazo determinado, o SESMT deve ser
      complementado durante o período de aumento para atender ao disposto no Anexo II.
      <br><br>
      4.6 Registro
      <br><br>
      4.6.1 A organização deve registrar os SESMT de que trata esta NR por meio de sistema eletrônico disponível no
      portal gov.br.
      <br><br>
      4.6.1.1 A organização deve informar e manter atualizados os seguintes dados:
      <br>
      a) número de Cadastro de Pessoa Física - CPF dos profissionais integrantes do SESMT;
      <br>
      b) qualificação e número de registro dos profissionais;
      <br>
      c) grau de risco estabelecido, conforme item 4.5.1 e seus subitens e o número de trabalhadores atendidos, por
      estabelecimento; e
      <br>
      d) horário de trabalho dos profissionais do SESMT.
      <br><br>
      4.7 Disposições finais
      <br><br>
      4.7.1 As organizações que forem obrigadas a constituir SESMT, nos termos desta NR, e Serviço Especializado em
      Segurança e Saúde no Trabalho Rural - SESTR, nos termos da Norma Regulamentadora nº 31 (NR-31) - Segurança e Saúde
      no Trabalho na Agricultura, Pecuária, Silvicultura, Exploração Florestal e Aquicultura, podem optar em constituir
      apenas um destes serviços, considerando o somatório de trabalhadores de ambas as atividades.
      <br><br>
      4.7.2 A organização que constituir SESMT é responsável pelo cumprimento desta NR, devendo assegurar a isenção
      técnica e o exercício profissional dos integrantes do SESMT.
      <br><br>
      4.7.3 A organização deve indicar, entre os médicos do SESMT, um responsável pelo PCMSO.
      <br><br>
      ANEXO I
      <br><br>
      RELAÇÃO DA CLASSIFICAÇÃO NACIONAL DE ATIVIDADES ECONÔMICAS - CNAE (VERSÃO 2.0), COM CORRESPONDENTE GRAU DE RISCO -
      GR<br><br>  
      
    </ion-card-content>
  </ion-card>
</ion-content>