.displayone {
    margin: auto;
    display: table;
    width: 100%;
    height: 100%;
    background-size: auto;
    color: antiquewhite;
    background: url('../dashboard/dashboard.png') no-repeat center center / cover !important;
}

.displaytwo {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hd {
    max-width: 767px;
    max-height: 767px;
    text-align: center;
}

.authtree {
    // margin: 0 auto;
    // max-width: auto;
    // background: white;
    // padding: 30px 40px 10px;
    // overflow: hidden;
    // -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  
    // border-radius: 10px;
    // opacity: 0.5;
    // width: 90%;
    // text-align: center;
    // background-color: white;
    // color: black;

}

ion-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    display: inline-block;
    font-size: 16px;

    margin: auto;
    max-width: auto;
    padding: 10px 24px;
    overflow: hidden;

    border-radius: 10px;
    opacity: 0.8;
    width: 40%;
    text-align: center;
    background-color: white;
    color: black;
}

.authtree {
    margin: auto;
    
    text-align: center;
    align-items: center;
    padding: auto;
    padding-left: auto;
    padding-right: auto;

}