<div class="displayTable2">
  <div class="displayTableCell">
    <div class="authBlock">

      <h2 class="h3">Confirmação:</h2>
      <h3 class="h3">Autenticação efetuada!</h3>
      <br>
      <div class="row" *ngIf="authService.userData as user">
        <div class="col-md-12">
          <div class="media">

            <img class="align-self-start mr-5 img-thumbnail rounded-circle"
              src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
            <br>
            <div class="media-body" style="font-size: small; text-align: center;">
              <h1>Olá: <strong>{{(user.displayName) ? user.displayName : 'usuário (a)'}}</strong></h1>
              <p>ID do usuário: <strong>{{user.uid}}</strong></p>
              <p>E-mail: <strong>{{user.email}}</strong></p>
              <p>E-mail Verificado: <strong>{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <img src="./assets/spinner.gif" class="spinner" alt="">
      <br>
      <br>
      <h4>Em breve você será redirecionado...</h4>

    </div>
  </div>
</div>