ion-card-header{    
    background: #ffffff url('./02.jpg') no-repeat center center / cover !important;
}

ion-card-title{
    text-align: justify;
    font-size: 1.5rem;
    color: white;
}

ion-card-subtitle{
    text-align: justify;
    font-size: 1rem;
    color: white;
}