.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
    
}

ion-title {
    align-items: center;
    text-align: center;
}

// ion-list-header {
//     font-size: large;
//     font-style: normal;
//     color: black;
//     text-align: left;
// }

ion-item {
    font-size: 0.8rem;
    color: black;
    text-align: left;
}

ion-label {
    text-align: left;
    font-size: 1.5rem;
}

ion-card-title {
    font-size: 1rem;
}

ion-card-subtitle {
    font-size: 1.2rem
}

p {
    font-size: 1rem;
}

ion-list {
    font-size: 3rem;
    text-align: left;  
}