<ion-content>
  <ion-card class="welcome-card">
    <img width="100%" src="/assets/shapes.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>O que são as normas regulamentadoras?</ion-card-subtitle>
      <ion-card-title>As Normas Regulamentadoras (NRs) são meios de controlar e padronizar as ações do
        trabalho.</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none">

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-item>
          <ion-avatar class="avatar" slot="start">
            <img alt="Silhouette of a person's head" src="/assets/stavatar.png" />
          </ion-avatar>
          <ion-label style="font-size: large;">Normas Regulamentadoras</ion-label>
        </ion-item>
      </ion-title>
    </ion-toolbar>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-01-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 1 - DISPOSIÇÕES GERAIS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-02_atualizada_2019.pdf', '_system', 'location=yes'); return false;">
        NR 2 - INSPEÇÃO PRÉVIA (REVOGADA)
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-03_atualizada_2019.pdf', '_system', 'location=yes'); return false;">
        NR 3 - EMBARGO E INTERDIÇÃO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-05-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 5 - CIPA
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-06-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 6 - EPI
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-07-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 7 - PCMSO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-08-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 8 - EDIFICAÇÕES
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-09-atualizada-2021-com-anexos-vibra-e-calor.pdf', '_system', 'location=yes'); return false;">
        NR 9 - AVALIAÇÃO E CONTROLE DAS EXPOSIÇÕES OCUPACIONAIS A AGENTES FÍSICOS, QUÍMICOS E BIOLÓGICOS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-10.pdf', '_system', 'location=yes'); return false;">
        NR 10 - SEGURANÇA EM INSTALAÇÕES E SERVIÇOS EM ELETRICIDADE
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-11.pdf', '_system', 'location=yes'); return false;">
        NR 11 - TRANSPORTE, MOVIMENTAÇÃO, ARMAZENAGEM E MANUSEIO DE MATERIAIS
        <BR>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-11-anexo-01.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 01
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-12-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 12 - SEGURANÇA NO TRABALHO EM MÁQUINAS E EQUIPAMENTOS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-13-atualizada-2022-retificada.pdf', '_system', 'location=yes'); return false;">
        NR 13 - CALDEIRAS, VASOS DE PRESSÃO, TUBULAÇÕES E TANQUES METÁLICOS DE ARMAZENAMENTO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-14-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 14 - FORNOS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 15 - ATIVIDADES E OPERAÇÕES INSALUBRES
        <BR>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-01.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 1 - LIMITES DE TOLERÂNCIA PARA RUÍDO CONTÍNUO OU INTERMITENTE
        </ion-label>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-02.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 2 - LIMITES DE TOLERÂNCIA PARA RUÍDOS DE IMPACTO
        </ion-label>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/assuntos/inspecao-do-trabalho/seguranca-e-saude-no-trabalho/sst-portarias/2021/portaria-mtp-no-426-anexos-i-vibracao-e-iii-calor-da-nr-09.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 3 - LIMITES DE TOLERÂNCIA PARA EXPOSIÇÃO AO CALOR
        </ion-label>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-02.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 4 - (REVOGADO)
        </ion-label>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-05.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 5 - ANEXO 5 - RADIAÇÕES IONIZANTES
        </ion-label>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/NR15_Anexo_06.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 6 - TRABALHO SOB CONDIÇÕES HIPERBÁRICAS
        </ion-label>
        <BR>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-07.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 7 - RADIAÇÕES NÃO-IONIZANTES
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/assuntos/inspecao-do-trabalho/seguranca-e-saude-no-trabalho/sst-portarias/2021/portaria-mtp-no-426-anexos-i-vibracao-e-iii-calor-da-nr-09.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 8 - VIBRAÇÃO
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-09.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 9 - FRIO
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-10.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 10 - UMIDADE
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-11.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 11 - AGENTES QUÍMICOS CUJA INSALUBRIDADE É CARACTERIZADA POR LIMITE DE TOLERÂNCIA E INSPEÇÃO NO LOCAL
          DE TRABALHO
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-12.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 12 - LIMITES DE TOLERÂNCIA PARA POEIRAS MINERAIS
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-13.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 13 - AGENTES QUÍMICOS
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-13a-atualizado-2022-1.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 13A - BENZENO
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-15-anexo-14.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 14 - AGENTES BIOLÓGICOS
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/nr-16-atualizada-2023.pdf', '_system', 'location=yes'); return false;">
        NR 16 - ATIVIDADES E OPERAÇÕES PERIGOSAS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-17-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 17 - ERGONOMIA
        <br>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-17-anexo-i-checkout-atualizado-2021.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 1 - TRABALHO DOS OPERADORES DE CHECKOUT
        </ion-label>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-17-anexo-ii-teleatendimento-atualizado-2021.pdf', '_system', 'location=yes'); return false;">
          ► ANEXO 2 - TRABALHO EM TELEATENDIMENTO/TELEMARKETING
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-18-atualizada-2020-2.pdf', '_system', 'location=yes'); return false;">
        NR 18 - SEGURANÇA E SAÚDE NO TRABALHO NA INDÚSTRIA DA CONSTRUÇÃO
        <br>
        <br>
        <ion-label a href="#"
          onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-18_historico_reformulacao_nr_18.pdf', '_system', 'location=yes'); return false;">
          ► HISTÓRICO SOBRE A REFORMULAÇÃO DA NR-18
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-19-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 19 - EXPLOSIVOS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/normas-regulamentadora/normas-regulamentadoras-vigentes/norma-regulamentadora-no-20-nr-20', '_system', 'location=yes'); return false;">
        NR 20 - SEGURANÇA E SAÚDE NO TRABALHO COM INFLAMÁVEIS E COMBUSTÍVEIS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-21.pdf', '_system', 'location=yes'); return false;">
        NR 21 - TRABALHOS A CÉU ABERTO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-22-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 22 - SEGURANÇA E SAÚDE OCUPACIONAL NA MINERAÇÃO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-23-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 23 - PROTEÇÃO CONTRA INCÊNDIOS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-24-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 24 - CONDIÇÕES SANITÁRIAS E DE CONFORTO NOS LOCAIS DE TRABALHO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-25-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 25 - RESÍDUOS INDUSTRIAIS (NOVA)
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-26-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 26 - SINALIZAÇÃO DE SEGURANÇA
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr_27_revogada_2008.pdf', '_system', 'location=yes'); return false;">
        NR 27 - REGISTRO PROFISSIONAL DO TÉCNICO DE SEGURANÇA DO TRABALHO (REVOGADA)
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-28-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 28 - FISCALIZAÇÃO E PENALIDADES
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-29-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 29 - NORMA REGULAMENTADORA DE SEGURANÇA E SAÚDE NO TRABALHO PORTUÁRIO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-30-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 30 - SEGURANÇA E SAÚDE NO TRABALHO AQUAVIÁRIO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/normas-regulamentadora/normas-regulamentadoras-vigentes/nr-31-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 31 - SEGURANÇA E SAÚDE NO TRABALHO NA AGRICULTURA, PECUÁRIA SILVICULTURA, EXPLORAÇÃO FLORESTAL E AQUICULTURA
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-32-atualizada-2022-2.pdf', '_system', 'location=yes'); return false;">
        NR 32 - SEGURANÇA E SAÚDE NO TRABALHO EM SERVIÇOS DE SAÚDE
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-33-atualizada-2022-_retificada.pdf', '_system', 'location=yes'); return false;">
        NR 33 - SEGURANÇA E SAÚDE NOS TRABALHOS EM ESPAÇOS CONFINADOS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-34-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 34 - CONDIÇÕES E MEIO AMBIENTE DE TRABALHO NA INDÚSTRIA DA CONSTRUÇÃO, REPARAÇÃO E DESMONTE NAVAL
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-35.pdf', '_system', 'location=yes'); return false;">
        NR 35 - TRABALHO EM ALTURA
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-36-atualizada-2022.pdf', '_system', 'location=yes'); return false;">
        NR 36 - SEGURANÇA E SAÚDE NO TRABALHO EM EMPRESAS DE ABATE E PROCESSAMENTO DE CARNES E DERIVADOS
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-37-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 37 - SEGURANÇA E SAÚDE EM PLATAFORMAS DE PETRÓLEO
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label a href="#"
        onclick="window.open('https://www.gov.br/trabalho-e-emprego/pt-br/acesso-a-informacao/participacao-social/conselhos-e-orgaos-colegiados/comissao-tripartite-partitaria-permanente/arquivos/normas-regulamentadoras/nr-38-atualizada-2022-1.pdf', '_system', 'location=yes'); return false;">
        NR 38 - SEGURANÇA E SAÚDE NO TRABALHO NAS ATIVIDADES DE LIMPEZA URBANA E MANEJO DE RESÍDUOS SÓLIDOS
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>