<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-item>
        <ion-avatar class="avatar" slot="start">
          <img alt="Silhouette of a person's head" src="/assets/stavatar.png" />
        </ion-avatar>
        <ion-label style="font-size: large;">Normas Regulamentadoras</ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img width="100%" src="/assets/shapes.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>O que são as normas regulamentadoras?</ion-card-subtitle>
      <ion-card-title>As Normas Regulamentadoras (NRs) são meios de controlar e padronizar as ações do
        trabalho.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Elas surgiram por meio de uma ação do governo ainda no ano de 1977, e passaram a ser seguidas a partir de 1978,
        quando as leis entraram em vigência. A lei de uma forma geral prevê um maior controle das ações de funcionários
        em empresas, indústrias e diversos
        <!-- serviços com a intenção de preservar a saúde de todos. As NRs, como também são conhecidas, foram listadas
        levando em consideração trabalhos gerais, especiais ou
        setoriais. --> </p>
    </ion-card-content>

  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="library"></ion-icon>
        <ion-label style="font-size: large;">Normas Disponíveis</ion-label>
      </ion-item>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label class="redirect" routerLink="/nr01">NR-01 - DISPOSIÇÕES GERAIS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label class="redirect" routerLink="/nr02">NR-02 - INSPEÇÃO PRÉVIA (REVOGADA)</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label class="redirect" routerLink="/nr03">NR-03 - EMBARGO E INTERDIÇÃO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-04 - SESMT</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-05 - CIPA</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR06 - EPI</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-07 - PCSO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-08 - EDIFICAÇÕES</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-09 - RISCOS AMBIENTAIS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-10 - SERVIÇOS EM ELETRICIDADE</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-11- - TRANSPORTE E MANUSEIO DE MATERIAIS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-12 - MÁQUINAS E EQUIPAMENTOS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-13 - CALDEIRAS, VASOS DE PRESSÃO E TUBULAÇÕES E TANQUES METÁLICOS DE ARMAZENAMENTO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-14 - FORNOS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-15 - ATIVIDADES E OPERAÇÕES INSALUBRES</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-16 - ATIVIDADES E OPERAÇÕES PERIGOSAS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-17 - ERGONOMIA</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-18 - SEGURANÇA E SAÚDE NO TRABALHO NA INDÚSTRIA DA CONSTRUÇÃO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-19 - EXPLOSIVOS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-20 - SEGURANÇA E SAÚDE NO TRABALHO COM INFLAMÁVEIS E COMBUSTÍVEIS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-21 - TRABALHOS A CÉU ABERTO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-22 - SEGURANÇA E SAÚDE OCUPACIONAL NA MINERAÇÃO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-23 - PROTEÇÃO CONTRA INCÊNDIOS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-24 - CONDIÇÕES SANITÁRIAS E DE CONFORTO NOS LOCAIS DE TRABALHO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-25 - RESÍDUOS INDUSTRIAIS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-26 - SINALIZAÇÃO DE SEGURANÇA</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-27 - REGISTRO PROFISSIONAL DO TÉCNICO DE SEGURANÇA DO TRABALHO (REVOGADA)</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-28 - FISCALIZAÇÃO E PENALIDADES</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-29 - NORMA REGULAMENTADORA DE SEGURANÇA E SAÚDE NO TRABALHO PORTUÁRIO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-30 - SEGURANÇA E SAÚDE NO TRABALHO AQUAVIÁRIO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-31 - SEGURANÇA E SAÚDE NO TRABALHO NA AGRICULTURA, PECUÁRIA SILVICULTURA, EXPLORAÇÃO FLORESTAL E
        AQUICULTURASERVIÇOS EM ELETRICIDADE</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-32- - SEGURANÇA E SAÚDE NO TRABALHO EM SERVIÇOS DE SAÚDE</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-33 - SEGURANÇA E SAÚDE NOS TRABALHOS EM ESPAÇOS CONFINADOS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-34 - CONDIÇÕES E MEIO AMBIENTE DE TRABALHO NA INDÚSTRIA DA CONSTRUÇÃO, REPARAÇÃO E DESMONTE
        NAVAL</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-35 - TRABALHO EM ALTURA</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-36 - SEGURANÇA E SAÚDE NO TRABALHO EM EMPRESAS DE ABATE E PROCESSAMENTO DE CARNES E
        DERIVADOS</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-37 - SEGURANÇA E SAÚDE EM PLATAFORMAS DE PETRÓLEO</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>NR-38 - SEGURANÇA E SAÚDE NO TRABALHO NAS ATIVIDADES DE LIMPEZA URBANA E MANEJO DE RESÍDUOS
        SÓLIDOS</ion-label>
    </ion-item>

  </ion-list>
</ion-content>