.welcome-card img {
    max-height: 35vh;
    overflow: hidden;    
}

ion-title {
    align-items: center;
    text-align: center;
}

ion-item {

    font-size: 0.75rem;
    color: black;
    text-align: left;
    padding: 0%;
    padding-block: auto;
}

ion-card-title {
    font-size: 1rem;
}

ion-card-subtitle {
    font-size: 1.2rem
}

p {
    font-size: 1rem;
}

ion-list {
    font-size: 3rem;
    text-align: left;  
}