.footer {
    color: blue;
    margin-top: -70px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div {

    background: #000000 !important;
}

h3 {
    background: #000000 !important;
}

ion-conttent {

    background: #000000 !important;
}