ion-footer{
    margin-top: 38rem;
    text-align: center;
}
ion-title{
   
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    
}