<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Inscrever-se</h3>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Endereço de email
          "
          #userEmail
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Senha"
          #userPwd
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Inscrever-se"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
        />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Ou</span></span>
      </div>

    <div class="redirectToLogin">
      <span>Já tem uma conta? <span class="redirect" routerLink="/sign-in">Conecte-se
      </span></span
      >
    </div>
  </div>
</div>
