<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Entrar</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Nome de usuário
          " #userName required />
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Senha" #userPassword required />
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" 
        class="btn btnPrimary" 
        value="Conecte-se"
        (click)="authService.SignIn(userName.value, userPassword.value)" />
        
      </div>

      <div class="formGroup">
        <button type="button" 
        class="btn googleBtn" style="background-color: green;"
          (click)="authenticationService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Entrar com Google
        </button>
      </div>

      <div class="formGroup">
        <div class="formGroup">
          <button type="button" 
          class="btn facbebook"
          style="background-color: blue; color: white;"
          (click)="authService.FacebookAuth()">
          <i class="fab fa-facebook-f" style="color: white;"></i>
            Entrar com Facebook
          </button>
        </div>
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Ou</span></span>
      </div>

      <div class="formGroup">
        <button type="button" class="btn btnPrimary" style="background-color: red;"
          routerLink="/forgot-password">Esqueceu sua senha?</button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Não tem uma conta? <span class="redirect" routerLink="/register-user">Inscrever-se</span></span>

    </div>
  </div>
</div>