<ion-content class="full">
  <ion-card>
    <ion-card-header>
      <ion-card-title> <ion-icon name="book" style="color: white;" size="large"></ion-icon> NR 3</ion-card-title>
      <ion-card-subtitle>Embargo ou Interdição?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br>
      Publicação D.O.U.
      <br>Portaria MTb n.º 3.214, de 08 de junho de 1978 06/07/78
      <br>Alterações/Atualizações D.O.U.
      <br>Portaria SSMT n.º 06, de 09 de março de 1983 14/03/83
      <br>Portaria SIT n.º 199, de 17 de janeiro de 2011 19/01/11
      <br>Portaria SEPRT n.º 1.068, de 23 de setembro de 2019 24/09/19
      <br>(Redação dada pela Portaria SEPRT n.º 1.068, de 23/09/19)
      <br>Vide prazo do art. 4º da referida Portaria - 120 dias após sua publicação.
      <br>Sumário
      <br>3.1 Objetivo;
      <br>3.2 Definições;
      <br>3.3 Caracterização do Grave e Iminente Risco;
      <br>3.4 Requisitos de embargo e interdição;
      <br>3.5 Disposições Finais.
      <br>3.1 Objetivo
      <br>3.1.1 Esta norma estabelece as diretrizes para caracterização do grave e iminente risco e os
      requisitos técnicos objetivos de embargo e interdição.
      <br>3.1.1.1 A adoção dos referidos requisitos técnicos visa à formação de decisões consistentes,
      proporcionais e transparentes.
      <br>3.2 Definições
      <br>3.2.1 Considera-se grave e iminente risco toda condição ou situação de trabalho que possa
      causar acidente ou doença com lesão grave ao trabalhador.
      <br>3.2.2 Embargo e interdição são medidas de urgência adotadas a partir da constatação de
      condição ou situação de trabalho que caracterize grave e iminente risco ao trabalhador.
      <br>3.2.2.1 O embargo implica a paralisação parcial ou total da obra.
      <br>3.2.2.2 A interdição implica a paralisação parcial ou total da atividade, da máquina ou
      equipamento, do setor de serviço ou do estabelecimento.
      <br>3.2.2.3 O embargo e a interdição podem estar associados a uma ou mais das hipóteses
      referidas nos itens 3.2.2.1 e 3.2.2.2.
      <br>3.2.2.3.1 O Auditor Fiscal do Trabalho deve adotar o embargo ou a interdição na menor
      unidade onde for constatada situação de grave e iminente risco.
      <br>3.3 Caracterização do grave e iminente risco
      <br>Este texto não substitui o publicado no DOU 2
      <br>3.3.1 A caracterização do grave e iminente risco deve considerar:
      <br>a) a consequência, como o resultado ou resultado potencial esperado de um evento, conforme
      Tabela 3.1 (Retificação no DOU de 23/01/2020 – seção 1 – pág. 57); e
      <br>b) a probabilidade, como a chance de o resultado ocorrer ou estar ocorrendo, conforme Tabela
      <br>3.2 (Retificação no DOU de 23/01/2020 – seção 1 – pág. 57).
      <br>3.3.2 Para fins de aplicação desta norma, o risco é expresso em termos de uma combinação das
      consequências de um evento e a probabilidade de sua ocorrência.
      <br>3.3.3 Ao avaliar os riscos o Auditor-Fiscal do Trabalho deve considerar a consequência e a
      probabilidade separadamente.
      <br>3.3.4 A classificação da consequência e da probabilidade será efetuada de forma fundamentada
      pelo Auditor-Fiscal do Trabalho.
      <br>3.3.5 A classificação das consequências deve ser efetuada de acordo com o previsto na Tabela
      <br>3.1 e a classificação das probabilidades de acordo com o previsto na Tabela 3.2.
      <br>
      <br>TABELA 3.1: Classificação das consequências
      <br>
      <br>
      <img width="100%" src="./assets/tabela3.1.jpg" alt="">
      <br>
      <br>TABELA 3.2: Classificação das probabilidades
      <br>
      <br>
      <img width="100%" src="./assets/tabela3.2.jpg" alt="">
      <br>
      <br>
      Este texto não substitui o publicado no DOU 3
      <br>
      <br>
      <img width="100%" src="./assets/tabela3.3.jpg" alt="">
      <br>
      <br> 3.3.6 Na caracterização de grave e iminente risco ao trabalhador, o Auditor-Fiscal do Trabalho
      deverá estabelecer o excesso de risco por meio da comparação entre o risco atual (situação
      encontrada) e o risco de referência (situação objetivo).
      <br> 3.3.7 O excesso de risco representa o quanto o risco atual (situação encontrada) está distante
      do risco de referência esperado após a adoção de medidas de prevenção (situação objetivo).
      <br> 3.3.8 A Tabela 3.3 deve ser utilizada pelo Auditor-Fiscal do Trabalho em caso de exposição
      individual ou de reduzido número de potenciais vítimas expostas ao risco avaliado.
      <br> 3.3.9 A Tabela 3.4 deve ser utilizada para a avaliação de situação onde a exposição ao risco
      pode resultar em lesão ou adoecimento de diversas vítimas simultaneamente.
      <br> 3.3.10 Os descritores do excesso de risco são: E - extremo, S - substancial, M - moderado, P -
      pequeno ou N - nenhum.
      <br> 3.3.11 Para estabelecer o excesso de risco, o Auditor-Fiscal do Trabalho deve seguir as
      seguintes etapas:
      <br> a) primeira etapa: avaliar o risco atual (situação encontrada) decorrente das circunstâncias
      encontradas, levando em consideração as medidas de controle existentes, ou seja, o nível total
      de risco que se observa ou se considera existir na atividade, utilizando a classificação indicada
      nas colunas do lado esquerdo das Tabelas 3.3 ou 3.4 (Retificação no DOU de 23/01/2020 –
      seção 1 – pág. 57);
      <br> b) segunda etapa: estabelecer o risco de referência (situação objetivo), ou seja, o nível de risco
      remanescente quando da implementação das medidas de prevenção necessárias, utilizando a
      classificação nas linhas da parte inferior das Tabelas 3.3 ou 3.4 (Retificação no DOU de
      23/01/2020 – seção 1 – pág. 57);
      <br> c) terceira etapa: determinar o excesso de risco por comparação entre o risco atual e o risco de
      referência, localizando a interseção entre os dois riscos na tabela 3.3 ou 3.4 (Retificação no
      DOU de 23/01/2020 – seção 1 – pág. 57).
      <br> 3.3.12 Para ambos os riscos, atual e de referência (definidos na primeira e na segunda etapas,
      respectivamente), deve-se determinar a consequência em primeiro lugar e, em seguida, a
      probabilidade de a consequência ocorrer.
      <br> 3.3.12.1 As condições ou situações de trabalho contempladas em normas regulamentadoras
      consideram-se como situação objetivo (risco de referência).
      <br> 3.3.12.2 O Auditor-Fiscal do Trabalho deve sempre considerar a consequência de maior
      previsibilidade de ocorrência.
      <br> 3.4 Requisitos de embargo e interdição
      Este texto não substitui o publicado no DOU 4
      <br> 3.4.1 São passíveis de embargo ou interdição, a obra, a atividade, a máquina ou equipamento,
      o setor de serviço, o estabelecimento, com a brevidade que a ocorrência exigir, sempre que o
      Auditor-Fiscal do Trabalho constatar a existência de excesso de risco extremo (E).
      <br> 3.4.2 São passíveis de embargo ou interdição, a obra, a atividade, a máquina ou equipamento,
      o setor de serviço, o estabelecimento, com a brevidade que a ocorrência exigir, consideradas as
      circunstâncias do caso específico, quando o Auditor-Fiscal do Trabalho constatar a existência de
      excesso de risco substancial (S).
      <br> 3.4.3 O Auditor-Fiscal do Trabalho deve considerar se a situação encontrada é passível de
      imediata adequação.
      <br> 3.4.3.1 Concluindo pela viabilidade de imediata adequação, o Auditor-Fiscal do Trabalho
      determinará a necessidade de paralisação das atividades relacionadas à situação de risco e a
      adoção imediata de medidas de prevenção e precaução para o saneamento do risco, que não
      gerem riscos adicionais.
      <br> 3.4.4 Não são passíveis de embargo ou interdição as situações com avaliação de excesso de
      risco moderado (M), pequeno (P) ou nenhum (N).
      <br> TABELA 3.3 - Tabela de excesso de risco: exposição individual ou reduzido número de potenciais
      vítimas.
      <br>
      <br>
      <img width="100%" src="./assets/tabela3.4.jpg" alt="">
      <br>
      <br>
      Este texto não substitui o publicado no DOU 5
      <br>
      <br> TABELA 3.4 - Tabela de excesso de risco: exposição ao risco pode resultar em lesão ou
      adoecimento de diversas vítimas simultaneamente
      <br>
      <br>
      <img width="100%" src="./assets/tabela3.5.jpg" alt="">
      <br>
      <br> 3.5 Disposições Finais
      <br> 3.5.1 A metodologia de avaliação qualitativa prevista nesta norma possui a finalidade específica
      de caracterização de situações de grave e iminente risco pelo Auditor-Fiscal do Trabalho, não se
      constituindo em metodologia padronizada para gestão de riscos pelo empregador.
      <br> 3.5.1.1 Fica dispensado o uso da metodologia prevista nesta norma para imposição de medida
      de embargo ou interdição quando constatada condição ou situação definida como grave e
      iminente risco nas Normas Regulamentadoras.
      <br> 3.5.2 O embargo e a interdição são medidas de proteção emergencial à segurança e à saúde do
      trabalhador, não se caracterizando como medidas punitivas.
      <br> 3.5.2.1 Nas condições ou situações de trabalho em que não haja previsão normativa da situação
      objetivo (risco de referência), o Auditor Fiscal do Trabalho deverá incluir na fundamentação os
      critérios técnicos utilizados para determinação da situação objetivo (risco de referência).
      Este texto não substitui o publicado no DOU 6
      <br> 3.5.3 A imposição de embargo ou interdição não elide a lavratura de autos de infração por
      descumprimento das normas de segurança e saúde no trabalho ou dos demais dispositivos da
      legislação trabalhista relacionados à situação analisada.
      <br> 3.5.4 Durante a vigência de embargo ou interdição, podem ser desenvolvidas atividades
      necessárias à correção da situação de grave e iminente risco, desde que garantidas condições
      de segurança e saúde aos trabalhadores envolvidos.
      <br> 3.5.5 Durante a paralisação do serviço, em decorrência da interdição ou do embargo, os
      trabalhadores receberão os salários como se estivessem em efetivo exercício.
    </ion-card-content>
  </ion-card>
</ion-content>