.displayTable{
    display: table;
    width: 100%;
    height: 100%;
    background-size: auto;
    background: #000000 url('./normas.jpg') no-repeat center center / cover !important;
}

.displayTableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
   }

.authBlock {
    margin: 0 auto;
    background: white;
      
    padding: 70px 40px 10px;
    padding-bottom: 30px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  
    border-radius: 10px;
    opacity: 0.9;
    width: 80%;
    background-color: white; 
  }

ion-searchbar.custom {
    --background: #000000;
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;  
    --border-radius: 4px;
    padding-inline-start: 0%;
    padding: auto;
    padding-inline-end: 0%;
  }