<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">

      <div style="height:100%; display: flex;  align-items: center;  justify-content: center;">
        <img width="100%" src="assets/nrlogo.png" class="animate__animated  animate__bounce">
      </div>
      <br>
      <div class="formGroup">
        <button routerLink="/nrs" type="button" class="btn btnPrimary"
          style="background-color: #FFC000;">Entre</button>
      </div>

      <ion-searchbar class="custom" search-icon="search-circle" placeholder="Procurar"></ion-searchbar>

    </div>
  </div>
</div>