<ion-content class="full">
  <ion-card>
    <ion-card-header>
      <ion-card-title> <ion-icon name="book" style="color: white;" size="large"></ion-icon> NR 5</ion-card-title>
      <ion-card-subtitle>Comissão Interna de Prevenção de Acidentes e de Assédio (CIPA)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br>
      Publicação                                                             D.O.U. <br>
      <br>
Portaria MTb n.º 3.214, de 08 de junho de 1978    <br>06/07/78
<br> <br>
Alterações/Atualizações D.O.U. <br>
<br>
Portaria SSMT n.º 33, de 27de outubro de 1983                                    <br>31/10/83
<br>
Portaria SSST n.º 25, de 29 de dezembro de 1994                         <br>Rep. 15/12/95
 <br>
Portaria SSST n.º 08, de 23 de fevereiro de 1999                          <br>Retf. 10/05/99
 <br>
Portaria SSST n.º 15, de 26 de fevereiro de 1999                                   <br>01/03/99
 <br>
Portaria SSST n.º 24, de 27 de maio de 1999                                         <br> 28/05/99
 <br>
Portaria SSST n.º 25, de 27 de maio de 1999                                          <br>28/05/99
 <br>
Portaria SSST n.º 16, de 10 de maio de 2001                                          <br>11/05/01
 <br>
Portaria SIT n.º 14, de 21 de junho de 2007                                           <br>26/06/07
 <br>
Portaria SIT n.º 247, de 12 de julho de 2011                                           <br>14/07/11
 <br>
Portaria SEPRT n.º 915, de 30 de julho de 2019                                     <br>31/07/19
<br>
Portaria MTP n.º 422, de 07 de outubro de 2021                                   <br>08/10/21
<br> <br>
SUMÁRIO
<br> <br>
5.1  Objetivo
<br>
5.2  Campo de aplicação
 <br>
5.3  Atribuições
 <br>
5.4  Constituição e estruturação
 <br>
5.5  Processo eleitoral
 <br>
5.6  Funcionamento
 <br>
5.7  Treinamento
 <br>
5.8  CIPA das organizações contratadas para prestação de serviços
<br>
5.9  Disposições finais
<br> <br>
Anexo I - CIPA da Indústria da Construção
<br> <br>
5.1 Objetivo
<br> <br>
5.1.1 Esta norma regulamentadora - NR estabelece os parâmetros e os requisitos da Comissão Interna de Prevenção de Acidentes - CIPA tendo por objetivo a prevenção de acidentes e doenças relacionadas ao trabalho, de modo a tornar compatível permanentemente o trabalho com a preservação da vida e promoção da saúde do trabalhador.
  <br>
5.2 Campo de aplicação
  <br>
5.2.1 As organizações e os órgãos públicos da administração direta e indireta, bem como os órgãos dos Poderes Legislativo, Judiciário e Ministério Público, que possuam empregados regidos pela Consolidação das Leis do Trabalho - CLT, devem constituir e manter CIPA.
  <br>
5.2.2 Nos termos previstos em lei, aplica-se o disposto nesta NR a outras relações jurídicas de trabalho.
  <br> <br>
5.3 Atribuições
  <br> <br>
5.3.1 A CIPA tem por atribuição:
 <br>
 <br>a) acompanhar o processo de identificação de perigos e avaliação de riscos bem como a adoção de medidas de prevenção implementadas pela organização;
 <br>b) registrar a percepção dos riscos dos trabalhadores, em conformidade com o subitem 1.5.3.3 da NR-01, por meio do mapa de risco ou outra técnica ou ferramenta apropriada à sua escolha, sem ordem de preferência, com assessoria do Serviço Especializado em Segurança e em Medicina do Trabalho - SESMT, onde houver;
 <br>c) verificar os ambientes e as condições de trabalho visando identificar situações que possam trazer riscos para a segurança e saúde dos trabalhadores;
 <br>d) elaborar e acompanhar plano de trabalho que possibilite a ação preventiva em segurança e saúde no trabalho;
 <br>e) participar no desenvolvimento e implementação de programas relacionados à segurança e saúde no trabalho;
 <br>f) acompanhar a análise dos acidentes e doenças relacionadas ao trabalho, nos termos da NR-1 e propor, quando for o caso, medidas para a solução dos problemas identificados;
 <br>g) requisitar à organização as informações sobre questões relacionadas à segurança e saúde dos trabalhadores, incluindo as Comunicações de Acidente de Trabalho - CAT emitidas pela organização, resguardados o sigilo médico e as informações pessoais;
 <br>h) propor ao SESMT, quando houver, ou à organização, a análise das condições ou situações de trabalho nas quais considere haver risco grave e iminente à segurança e saúde dos trabalhadores e, se for o caso, a interrupção das atividades até a adoção das medidas corretivas e de controle; e
 <br>i) promover, anualmente, em conjunto com o SESMT, onde houver, a Semana Interna de Prevenção de Acidentes do Trabalho - SIPAT, conforme programação definida pela CIPA.
  <br> <br>
5.3.2 Cabe à organização:
 <br> <br>
 a) proporcionar aos membros da CIPA os meios necessários ao desempenho de suas atribuições, garantindo tempo suficiente para a realização das tarefas constantes no plano de trabalho;
 <br>b) permitir a colaboração dos trabalhadores nas ações da CIPA; e
 <br>c) fornecer à CIPA, quando requisitadas, as informações relacionadas às suas atribuições.
  <br>
 <br>5.3.3 Cabe aos trabalhadores indicar à CIPA, ao SESMT e à organização situações de riscos e apresentar sugestões para melhoria das condições de trabalho.
  <br>
 <br>5.3.4 Cabe ao Presidente da CIPA:
 <br>a) convocar os membros para as reuniões; e
 <br>b) coordenar as reuniões, encaminhando à organização e ao SESMT, quando houver, as decisões da comissão.
 <br>
5.3.5 Cabe ao Vice-Presidente substituir o Presidente nos seus impedimentos eventuais ou nos seus afastamentos temporários.
  <br>
5.3.6 O Presidente e o Vice-Presidente da CIPA, em conjunto, terão as seguintes atribuições de:
 <br>
a) coordenar e supervisionar as atividades da CIPA, zelando para que os objetivos propostos sejam alcançados; e
b) divulgar as decisões da CIPA a todos os trabalhadores do estabelecimento.
  <br>
5.4 Constituição e estruturação
  <br>
5.4.1 A CIPA será constituída por estabelecimento e composta de representantes da organização e dos empregados, de acordo com o dimensionamento previsto no Quadro I desta NR, ressalvadas as disposições para setores econômicos específicos.
  <br>
5.4.2 A CIPA das organizações que operem em regime sazonal devem ser dimensionadas tomando-se por base a média aritmética do número de trabalhadores do ano civil anterior e obedecido o Quadro I desta NR.
  <br>
5.4.3 Os representantes da organização na CIPA, titulares e suplentes, serão por ela designados.
  <br>
5.4.4 Os representantes dos empregados, titulares e suplentes, serão eleitos em escrutínio secreto, do qual participem, independentemente de filiação sindical, exclusivamente os empregados interessados.
  <br>
5.4.5 A organização designará dentre seus representantes o Presidente da CIPA, e os representantes eleitos dos empregados escolherão dentre os titulares o vice-presidente.
  <br>
5.4.6 O mandato dos membros eleitos da CIPA terá a duração de um ano, permitida uma reeleição.
  <br>
5.4.7 Os membros da CIPA, eleitos e designados serão empossados no primeiro dia útil após o término do mandato anterior.
  <br>
5.4.8 A organização deve fornecer cópias das atas de eleição e posse aos membros titulares e suplentes da CIPA.
  <br>
5.4.9 Quando solicitada, a organização encaminhará a documentação referente ao processo eleitoral da CIPA, podendo ser em meio eletrônico, ao sindicato dos trabalhadores da categoria preponderante, no prazo de até 10 (dez) dias.
  <br>
5.4.10 A CIPA não poderá ter seu número de representantes reduzido, bem como não poderá ser desativada pela organização, antes do término do mandato de seus membros, ainda que haja redução do número de empregados, exceto no caso de encerramento das atividades do estabelecimento.
  <br>
5.4.11 É vedada à organização, em relação ao integrante eleito da CIPA:
 <br>a) a alteração de suas atividades normais na organização que prejudique o exercício de suas atribuições; e
 <br>b) a transferência para outro estabelecimento, sem a sua anuência, ressalvado o disposto nos parágrafos primeiro e segundo do art. 469 da CLT.
  <br>
5.4.12 É vedada a dispensa arbitrária ou sem justa causa do empregado eleito para cargo de direção da CIPA desde o registro de sua candidatura até um ano após o final de seu mandato.
 <br>
5.4.12.1 O término do contrato de trabalho por prazo determinado não caracteriza dispensa arbitrária ou sem justa causa do empregado eleito para cargo de direção da CIPA.
  <br>
5.4.13 Quando o estabelecimento não se enquadrar no Quadro I e não for atendido por SESMT, nos termos da Norma Regulamentadora n° 4 (NR-04), a organização nomeará um representante da organização dentre seus empregados para auxiliar na execução das ações de prevenção em segurança e saúde no trabalho, podendo ser adotados mecanismos de participação dos empregados, por meio de negociação coletiva.
  <br>
5.4.13.1 No caso de atendimento pelo SESMT, este deverá desempenhar as atribuições da CIPA.
  <br>
5.4.13.2 O microempreendedor individual - MEI está dispensado de nomear o representante da NR-05.
  <br>
5.4.14 A nomeação de empregado como representante da NR-05 e sua forma de atuação devem ser formalizadas anualmente pela organização.
  <br>
5.4.15 A nomeação de empregado como representante da NR-05 não impede o seu ingresso na CIPA, quando da sua constituição, seja como representante do empregador ou como dos empregados.
  <br>
5.5 Processo eleitoral
  <br>
5.5.1 Compete ao empregador convocar eleições para escolha dos representantes dos empregados na CIPA, no prazo mínimo de 60 (sessenta) dias antes do término do mandato em curso.
  <br>
5.5.1.1 A organização deve comunicar, com antecedência, podendo ser por meio eletrônico, com confirmação de entrega, o início do processo eleitoral ao sindicato da categoria preponderante.
  <br>
5.5.2 O Presidente e o Vice-Presidente da CIPA constituirão dentre seus membros a comissão eleitoral, que será a responsável pela organização e acompanhamento do processo eleitoral.
  <br>
5.5.2.1 Nos estabelecimentos onde não houver CIPA, a comissão eleitoral será constituída pela organização.
  <br>
5.5.3 O processo eleitoral deve observar as seguintes condições:
 <br>a) publicação e divulgação de edital de convocação da eleição e abertura de prazos para inscrição de candidatos, em locais de fácil acesso e visualização, podendo ser em meio físico ou eletrônico;
 <br>b) inscrição e eleição individual, sendo que o período mínimo para inscrição será de 15 (quinze) dias corridos;
 <br>c) liberdade de inscrição para todos os empregados do estabelecimento, independentemente de setores ou locais de trabalho, com fornecimento de comprovante em meio físico ou eletrônico;
 <br>d) garantia de emprego até a eleição para todos os empregados inscritos;
 <br>e) publicação e divulgação da relação dos empregados inscritos, em locais de fácil acesso e visualização, podendo ser em meio físico ou eletrônico;
 <br>f) realização da eleição no prazo mínimo de 30 (trinta) dias antes do término do mandato da CIPA, quando houver;
 <br>g) realização de eleição em dia normal de trabalho, respeitando os horários de turnos e em horário que possibilite a participação da maioria dos empregados do estabelecimento;
 <br>h) voto secreto;
 <br>i) apuração dos votos, em horário normal de trabalho, com acompanhamento de representante da organização e dos empregados, em número a ser definido pela comissão eleitoral, facultado o acompanhamento dos candidatos; e
 <br>j) organização da eleição por meio de processo que garanta tanto a segurança do sistema como a confidencialidade e a precisão do registro dos votos.
  <br>
5.5.4 Havendo participação inferior a cinquenta por cento dos empregados na votação, não haverá a apuração dos votos e a comissão eleitoral deverá prorrogar o período de votação para o dia subsequente, computando-se os votos já registrados no dia anterior, a qual será considerada válida com a participação de, no mínimo, um terço dos empregados.
  <br>
5.5.4.1 Constatada a participação inferior a um terço dos empregados no segundo dia de votação, não haverá a apuração dos votos e a comissão eleitoral deverá prorrogar o período de votação para o dia subsequente, computando-se os votos já registrados nos dias anteriores, a qual será considerada válida com a participação de qualquer número de empregados.
  <br>
5.5.4.2 A prorrogação referida nos subitens 5.5.4 e 5.5.4.1 deve ser comunicada ao sindicato da categoria profissional preponderante.
  <br>
5.5.5 As denúncias sobre o processo eleitoral deverão ser protocolizadas na unidade descentralizada de inspeção do trabalho, até 30 (trinta) dias após a data da divulgação do resultado da eleição da CIPA.
  <br>
5.5.5.1 Compete à autoridade máxima regional em matéria de inspeção do trabalho, confirmadas irregularidades no processo eleitoral, determinar a sua correção ou proceder a anulação quando for o caso.
  <br>
5.5.5.2 Em caso de anulação somente da votação, a organização convocará nova votação no prazo de 10 (dez) dias, a contar da data de ciência, garantidas as inscrições anteriores.
  <br>
5.5.5.3 Nos demais casos, a decisão da autoridade máxima regional em matéria de inspeção do trabalho determinará os atos atingidos, as providências, e os prazos a serem adotados, atendidos os prazos previstos nesta NR.
  <br>
5.5.5.4 Quando a anulação se der antes da posse dos membros da CIPA, ficará assegurada a prorrogação do mandato anterior, quando houver, até a complementação do processo eleitoral.
  <br>
5.5.6 Assumirão a condição de membros titulares e suplentes os candidatos mais votados.
  <br>
5.5.7 Em caso de empate, assumirá aquele que tiver maior tempo de serviço no estabelecimento.
 <br>
5.5.8 Os candidatos votados e não eleitos serão relacionados na ata de eleição e apuração, em ordem decrescente de votos, possibilitando nomeação posterior, em caso de vacância de suplentes.
  <br>
5.6 Funcionamento
  <br>
5.6.1 A CIPA terá reuniões ordinárias mensais, de acordo com o calendário preestabelecido.
  <br>
5.6.1.1 A critério da CIPA, nas Microempresas - ME e Empresas de Pequeno Porte - EPP, graus de risco 1 e 2, as reuniões poderão ser bimestrais.
  <br>
5.6.2 As reuniões ordinárias da CIPA serão realizadas na organização, preferencialmente de forma presencial, podendo a participação ocorrer de forma remota.
  <br>
5.6.2.1 A data e horário das reuniões serão acordadas entre os seus membros observando os turnos e as jornadas de trabalho.
  <br>
5.6.3 As reuniões da CIPA terão atas assinadas pelos presentes.
  <br>
5.6.3.1 As atas das reuniões devem ser disponibilizadas a todos os integrantes da CIPA, podendo ser por meio eletrônico.
  <br>
5.6.3.2 As deliberações e encaminhamentos das reuniões da CIPA devem ser disponibilizadas a todos os empregados em quadro de aviso ou por meio eletrônico.
  <br>
5.6.4 As reuniões extraordinárias devem ser realizadas quando:
 <br>a) ocorrer acidente do trabalho grave ou fatal; ou
 <br>b) houver solicitação de uma das representações.
  <br>
5.6.5 Para cada reunião ordinária ou extraordinária, os membros da CIPA designarão o secretário responsável por redigir a ata.
  <br>
5.6.6 O membro titular perderá o mandato, sendo substituído por suplente, quando faltar a mais de quatro reuniões ordinárias sem justificativa.
  <br>
5.6.7 A vacância definitiva de cargo, ocorrida durante o mandato, será suprida por suplente, obedecida a ordem de colocação decrescente que consta na ata de eleição, devendo os motivos ser registrados em ata de reunião.
  <br>
5.6.7.1 Caso não existam mais suplentes, durante os primeiros 6 (seis) meses do mandato, a organização deve realizar eleição extraordinária para suprir a vacância, que somente será considerada válida com a participação de, no mínimo, um terço dos trabalhadores.
  <br>
5.6.7.1.1 Os prazos da eleição extraordinária serão reduzidos à metade dos prazos previstos no processo eleitoral desta NR.
  <br>
5.6.7.1.2 As demais exigências estabelecidas para o processo eleitoral devem ser atendidas.
 <br>
5.6.7.2 No caso de afastamento definitivo do presidente, a organização indicará o substituto, em dois dias úteis, preferencialmente entre os membros da CIPA.
  <br>
5.6.7.3 No caso de afastamento definitivo do vice-presidente, os membros titulares da representação dos empregados, escolherão o substituto, entre seus titulares, em dois dias úteis.
 <br> 
5.6.7.4 O mandato do membro eleito em processo eleitoral extraordinário deve ser compatibilizado com o mandato dos demais membros da Comissão.
  <br>
5.6.7.5 O treinamento de membro eleito em processo extraordinário deve ser realizado no prazo máximo de 30 (trinta) dias, contados a partir da data da posse.
  <br>
5.6.8 As decisões da CIPA serão preferencialmente por consenso.
  <br>
5.6.8.1 Não havendo consenso, a CIPA deve regular o procedimento de votação e o pedido de reconsideração da decisão.
  <br>
5.7 Treinamento
  <br>
5.7.1 A organização deve promover treinamento para o representante nomeado da NR-5 e para os membros da CIPA, titulares e suplentes, antes da posse.
  <br>
5.7.1.1 O treinamento de CIPA em primeiro mandato será realizado no prazo máximo de 30 (trinta) dias, contados a partir da data da posse.
  <br>
5.7.2 O treinamento deve contemplar, no mínimo, os seguintes itens:

 <br> a) estudo do ambiente, das condições de trabalho, bem como dos riscos originados do processo produtivo;
 <br> b) noções sobre acidentes e doenças relacionadas ao trabalho decorrentes das condições de trabalho e da exposição aos riscos existentes no estabelecimento e suas medidas de prevenção;
 <br> c) metodologia de investigação e análise de acidentes e doenças relacionadas ao trabalho;
 <br> d) princípios gerais de higiene do trabalho e de medidas de prevenção dos riscos;
 <br> e) noções sobre as legislações trabalhista e previdenciária relativas à segurança e saúde no trabalho;
 <br> f) noções sobre a inclusão de pessoas com deficiência e reabilitados nos processos de trabalho; e
 <br> g) organização da CIPA e outros assuntos necessários ao exercício das atribuições da Comissão.
 
5.7.3 O treinamento realizado há menos de 2 (dois) anos contados da conclusão do curso pode ser aproveitado na mesma organização, observado o estabelecido na NR-1.
 <br>5.7.4 O treinamento deve ter carga horária mínima de:
 <br>a) 8 (oito) horas para estabelecimentos de grau de risco 1;
 <br>b) 12 (doze) horas para estabelecimentos de grau de risco 2;
 <br>c) 16 (dezesseis) horas para estabelecimentos de grau de risco 3; er>

d) 20 (vinte) horas para estabelecimentos de grau de risco 4.
  <br>
5.7.4.1 A carga horária do treinamento deve ser distribuída em no máximo 8 (oito) horas diárias.
  
 <br>5.7.4.2 Para a modalidade presencial deve ser observada a seguinte carga horária mínima do treinamento:
 <br>a) 4 (quatro) horas para estabelecimentos de grau de risco 2; e
 <br>b) 8 (oito) horas para estabelecimentos de grau de risco 3 e 4.

5.7.4.3 A carga horária do treinamento dos estabelecimentos de grau de risco 1 e do representante nomeado da NR-05 podem ser realizadas integralmente na modalidade de ensino à distância ou semipresencial, nos termos da NR-01.
  <br>
5.7.4.4 O treinamento realizado integralmente na modalidade de ensino à distância deve contemplar os riscos específicos do estabelecimento nos termos do subitem 5.7.2.
  <br>
5.7.4.5 O integrante do SESMT fica dispensado do treinamento da CIPA.
  <br>
5.8 CIPA das organizações contratadas para prestação de serviços
  <br>
5.8.1 A organização de prestação de serviços deve constituir CIPA centralizada quando o número total de seus empregados na Unidade da Federação se enquadrar no Quadro I desta NR.
  <br>
5.8.1.1 Quando a organização contratada para prestação de serviços a terceiros exercer suas atividades em estabelecimento de contratante enquadrado em grau de riscos 3 ou 4 e o número total de seus empregados no estabelecimento da contratante se enquadrar no Quadro I desta NR, deve constituir CIPA própria neste estabelecimento, considerando o grau de risco da contratante.
  <br>
5.8.1.1.1 A organização contratada está dispensada da constituição da CIPA própria no caso de prestação de serviços a terceiros com até 180 (centro e oitenta) dias de duração.
  <br>
5.8.1.2 O número total de empregados da organização contratada para prestação de serviços, para efeito de dimensionamento da CIPA centralizada, deve desconsiderar os empregados alcançados por CIPA própria.
  <br>
5.8.2 A organização contratada para prestação de serviços, quando desobrigada de constituir CIPA própria, deve nomear um representante da NR-5 para cumprir os objetivos desta NR se possuir 5 (cinco) ou mais empregados no estabelecimento da contratante.
  <br>
5.8.2.1 A nomeação de representante da NR-05 em estabelecimento onde há empregado membro de CIPA centralizada é dispensada.
  <br>
5.8.2.2 O estabelecido no subitem 5.8.2 não exclui o disposto no subitem 5.4.13 quanto ao estabelecimento sede da organização contratada para a prestação de serviços.
  <br>
5.8.2.3 A nomeação do representante da organização contratada para a prestação de serviços deve ser feita entre os empregados que exercem suas atividades no estabelecimento.
 <br>
5.8.3 A organização contratada para a prestação de serviços deve garantir que a CIPA centralizada mantenha interação entre os estabelecimentos nos quais possua empregados.
<br>
5.8.3.1 A organização deve garantir a participação dos representantes nomeados da NR-05 nas reuniões da CIPA centralizada.
<br>
5.8.3.2 A organização deve dar condições aos integrantes da CIPA centralizada de atuarem nos estabelecimentos que não possuem representante nomeado da NR-05, atendido o disposto no subitem 5.6.2.
  <br>
5.8.4 O representante nomeado da NR-05 das organizações contratadas para a prestação de serviço deve participar de treinamento de acordo com o grau de risco da contratante.
  <br>
5.8.5 A CIPA da prestadora de serviços a terceiros constituída nos termos do subitem 5.8.1.1 será considerada encerrada, para todos os efeitos, quando encerradas as suas atividades no estabelecimento.
  <br>
5.8.6 A organização contratante deve exigir da organização prestadora de serviços a nomeação do representante da NR-05 prevista no subitem 5.8.2.
  <br>
5.8.7 A contratante deve convidar a contratada para participar da reunião da CIPA da contratante, com a finalidade de integrar as ações de prevenção, sempre que as organizações atuarem em um mesmo estabelecimento.
  <br>
5.8.7.1 A contratada deve indicar um representante da CIPA ou o representante nomeado da NR- 05 para participar da reunião da CIPA da contratante.
  <br>
5.9 Disposições finais
  <br>
5.9.1 A contratante adotará medidas para que as contratadas, suas CIPA, os representantes nomeados da NR-05 e os demais trabalhadores lotados naquele estabelecimento recebam informações sobre os riscos presentes nos ambientes de trabalho, bem como sobre as medidas de prevenção, em conformidade com o Programa de Gerenciamento de Riscos, previsto na NR-01.
  <br>
5.9.2 Toda a documentação referente à CIPA deve ser mantida no estabelecimento à disposição da inspeção do trabalho pelo prazo mínimo de 5 (cinco) anos.
  <br>
5.9.3 Em havendo alteração do grau de risco do estabelecimento, o redimensionamento da CIPA deve ser efetivado na próxima eleição.
 <br>
 <br>
Quadro I – Dimensionamento da CIPA 
<br>
<br>
<img width="100%" src="./assets/tabela5.jpg" alt="">
<br>
<br>
*Grau de Risco conforme estabelecido no Quadro I da NR-04 - Relação da Classificação Nacional de Atividades Econômicas - CNAE (Versão 2.0), com correspondente Grau de Risco - GR para fins de dimensionamento do SESMT.
<br>
<br>

 ANEXO I da NR-5
 <br>
 <br>

CIPA DA INDÚSTRIA DA CONSTRUÇÃO
<br>
<br>

 Sumário<br>

 1. Objetivo<br>

 2. Campo de Aplicação<br>

 3. Disposições Gerais<br>
  
 1. Objetivo
 <br>
 1.1 Este anexo estabelece requisitos específicos para a Comissão Interna de Prevenção de Acidentes - CIPA da indústria da construção.
  <br>
 2. Campo de Aplicação
  <br>
 2.1 As disposições estabelecidas neste Anexo se aplicam às organizações previstas no subitem 18.2.1 da Norma Regulamentadora nº 18 - CONDIÇÕES DE SEGURANÇA E SAÚDE NO TRABALHO NA INDÚSTRIA DA CONSTRUÇÃO.
  <br>
 3. Disposições Gerais
  <br>
 3.1 A organização responsável pela obra deve constituir a CIPA por canteiro de obras quando o número de empregados se enquadrar no dimensionamento previsto no Quadro I da NR- 05, observadas as disposições gerais dessa Norma.
  <br>
 3.1.1 Quando o canteiro de obras não se enquadrar no dimensionamento previsto no Quadro I da NR-05, a organização responsável pela obra deverá nomear entre seus empregados do local, no mínimo, um representante para cumprir os objetivos da NR-05.
  <br>
 3.1.2 A organização responsável pela obra está dispensada de constituir CIPA por frente de trabalho.
  <br>
 3.1.3 Quando existir frente de trabalho, independentemente da quantidade de empregados próprios no local, a organização responsável pela obra deverá nomear, entre seus empregados, no mínimo, um representante, que exerça suas atividades na frente de trabalho ou no canteiro de obras, para cumprir os objetivos da NR-05.
  <br>
 3.1.3.1 O representante nomeado da NR-05 da organização responsável pela obra pode ser nomeado como representante para mais de uma frente de trabalho.
  <br>
 3.2 Havendo no canteiro de obras ou na frente de trabalho organização prestadora de serviços a terceiros, essa deve nomear, no mínimo, um representante da NR-05, quando possuir cinco ou mais empregados próprios no local.
  <br>
 3.2.1 A nomeação do representante da NR-05 da organização prestadora de serviços a terceiros, no canteiro de obras ou na frente de trabalho, deve ser feita entre os empregados que obrigatoriamente exercem suas atividades no local.
 <br>
 3.2.2 A organização responsável pela obra deve exigir da organização prestadora de serviços a terceiros que presta serviços no canteiro de obras ou na frente de trabalho a nomeação do representante da NR-05, quando essa alcançar o mínimo previsto no item 3.2.
  <br>
 3.2.3 A organização que presta serviços a terceiros nos canteiros de obras ou frentes de trabalho, quando o dimensionamento se enquadrar no Quadro I da NR-05, considerando o número total de empregados nos diferentes locais de trabalho, deve constituir uma CIPA centralizada.
  <br>
 3.2.3.1 O dimensionamento da CIPA centralizada da organização prestadora de serviços a terceiros nos canteiros de obras ou frentes de trabalho deve levar em consideração o número de empregados da organização distribuídos nos diferentes locais de trabalho onde presta serviços, tendo como limite territorial, para o dimensionamento da CIPA Centralizada, a Unidade da Federação.
  <br><br>
 3.2.3.1.1 A organização deve garantir que a CIPA centralizada mantenha interação entre os canteiros de obras e frentes de trabalho onde atua na Unidade da Federação.
  <br>
 3.3 Obras com até 180 (cento e oitenta) dias de duração estão dispensadas da constituição da CIPA, devendo a Comunicação Prévia de Obra ser enviada ao sindicato dos trabalhadores da categoria preponderante do local, no prazo máximo de 10 (dez) dias, a partir de seu registro eletrônico no Sistema de Comunicação Prévia de Obras - SCPO.
  <br>
 3.3.1 Para obras com até 180 (cento e oitenta) dias de duração, a organização responsável pela obra deverá nomear, no mínimo, um representante da NR-05, aplicando-se o disposto no subitem 3.1.2 quando existir frente de trabalho.
  <br>
 3.3.2 Para obras com até 180 (cento e oitenta) dias de duração, havendo no canteiro de obras ou na frente de trabalho organização prestadora de serviços a terceiros, essa deverá nomear, no mínimo, um representante da NR-05, quando possuir cinco ou mais empregados próprios no local.
  <br>
 3.4 A escolha do representante nomeado da NR-05 compete à organização, observado o disposto nos itens 5.4.14 e 5.4.15.
  <br>
 3.4.1 A organização deve fornecer ao representante nomeado da NR-05 cópia da sua nomeação.
  <br>
 3.5 Os membros da CIPA do canteiro de obras devem participar de treinamento, conforme estabelecido nessa Norma.
  <br>
 3.5.1 O representante nomeado da NR-05 deve participar de treinamento com carga horária mínima de oito horas, considerando o disposto no item 1.7 da NR-01 e observadas as disposições gerais dessa Norma, com o seguinte conteúdo:
 <br>a) noções de prevenção de acidentes e doenças relacionadas ao trabalho;
 <br>b) estudo do ambiente e das condições de trabalho, dos riscos originados no processo produtivo e das medidas de prevenção, de acordo com a etapa da obra; e
 <br>c) noções sobre a legislação trabalhista e previdenciária relativas à segurança e saúde no trabalho.
 <br>
 3.5.1.1 A validade do treinamento do representante nomeado da NR-05 deverá atender ao disposto nessa Norma, podendo ser, dentro do prazo de validade e para a organização que promoveu o treinamento, aproveitado em diferentes canteiros de obras ou frentes de trabalho.
  <br>
 3.5.1.2 É permitida a convalidação do treinamento do representante nomeado da NR-05 por diferentes organizações, desde que atendido o disposto no item 1.7 da NR-01.
  <br>
 3.6 A organização responsável pela obra deve coordenar, observadas as disposições gerais dessa Norma, o trabalho da CIPA, quando existente no canteiro de obras, e, quando aplicável, do representante nomeado da NR-05.
  <br>
 3.6.1 A organização responsável pela obra deve promover a integração entre a CIPA, quando existente, e o representante nomeado da NR-05, quando aplicável, no canteiro de obras e na frente de trabalho, observadas as disposições gerais dessa Norma.
  <br>
 3.6.2. A participação dos membros da CIPA e do representante nomeado da NR-05 nas reuniões, para cumprir os objetivos dessa Norma, deve atender ao disposto em sua parte geral.
  <br>
 3.7 A CIPA do canteiro de obras será considerada encerrada, para todos os efeitos, quando as atividades da obra forem finalizadas.
  <br>
 3.7.1 Consideram-se finalizadas as atividades da obra, para os efeitos de aplicação do disposto nessa Norma, quando todas as suas etapas previstas em projetos estiverem concluídas.
  <br>
 3.7.2 A conclusão da obra deverá ser formalizada em documento próprio pelo responsável técnico da obra e cuja cópia deve ser encaminhada - física ou eletronicamente - ao sindicato da categoria dos trabalhadores predominante no estabelecimento.
 

    </ion-card-content>
  </ion-card>
</ion-content>