<ion-content class="full">
  <ion-card>
    <ion-card-header>
      <ion-card-title> <ion-icon name="book" style="color: white;" size="large"></ion-icon> NR 6</ion-card-title>
      <ion-card-subtitle>Equipamento de Proteção Individual (EPI)</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <br>
      Publicação
      <br>
      D.O.U.
      <br>
      Portaria MTb n.º 3.214, de 08 de junho de 1978
      <br>
      06/07/78
      <br>
      Alterações/Atualizações
      <br>
      D.O.U.
      <br>
      Portaria SSMT n.º 05, de 07 de maio de 1982
      <br>
      17/05/82
      <br>
      Portaria SSMT n.º 06, de 09 de março de 1983
      <br>
      14/03/83
      <br>
      Portaria DSST n.º 05, de 28 de outubro de 1991
      <br>
      30/10/91
      <br>
      Portaria DSST n.º 03, de 20 de fevereiro de 1992
      <br>
      21/02/92
      <br>
      Portaria DSST n.º 02, de 20 de maio de 1992
      <br>
      21/05/92
      <br>
      Portaria DNSST n.º 06, de 19 de agosto de 1992
      <br>
      20/08/92
      <br>
      Portaria SSST n.º 26, de 29 de dezembro de 1994
      <br>
      30/12/94
      <br>
      Portaria SIT n.º 25, de 15 de outubro de 2001
      <br>
      17/10/01
      <br>
      Portaria SIT n.º 48, de 25 de março de 2003
      <br>
      28/03/04
      <br>
      Portaria SIT n.º 108, de 30 de dezembro de 2004
      <br>
      10/12/04
      <br>
      Portaria SIT n.º 191, de 04 de dezembro de 2006
      <br>
      06/12/06
      <br>
      Portaria SIT n.º 194, de 22 de dezembro de 2006
      <br>
      22/12/06
      <br>
      Portaria SIT n.º 107, de 25 de agosto de 2009
      <br>
      27/08/09
      <br>
      Portaria SIT n.º 125, de 12 de novembro de 2009
      <br>
      13/11/09
      <br>
      Portaria SIT n.º 194, de 07 de dezembro de 2010
      <br>
      08/12/10
      <br>
      Portaria SIT n.º 292, de 08 de dezembro de 2011
      <br>
      09/12/11
      <br>
      Portaria MTE n.º 1.134, de 23 de julho de 2014
      <br>
      24/07/14
      <br>
      Portaria MTE n.º 505, de 16 de abril de 2015
      <br>
      17/04/15
      <br>
      Portaria MTb n.º 870, de 06 de julho de 2017
      <br>
      07/06/17
      <br>
      Portaria MTb n.º 877, de 24 de outubro de 2018
      <br>
      Repub. 26/10/18
      <br>
      6.1 Objetivo
      <br>
      6.1.1 O objetivo desta Norma Regulamentadora - NR é estabelecer os requisitos para aprovação, comercialização,
      fornecimento e utilização de Equipamentos de Proteção Individual - EPI.
      <br>
      6.2 Campo de aplicação
      <br>
      6.2.1 As disposições desta NR se aplicam às organizações que adquiram EPI, aos trabalhadores que os utilizam,
      assim como aos fabricantes e importadores de EPI.
      <br>
      6.2.1.1 Para os fins de aplicação desta NR considera-se fabricante a pessoa jurídica estabelecida em território
      nacional que fabrica o EPI ou o manda projetar ou fabricar, assumindo a responsabilidade pela fabricação,
      desempenho, garantia e assistência técnica pós-venda, e que o comercializa sob seu nome ou marca.
      <br>
      6.2.1.2 Para os fins de aplicação desta NR considera-se importador a pessoa jurídica estabelecida em território
      nacional que, sob seu nome ou marca, importa e assume a responsabilidade pela comercialização, desempenho,
      garantia e assistência técnica pós-venda do EPI.
      <br>
      6.2.1.2.1 Equiparam-se a importador o adquirente da importação por conta e ordem de terceiro e o encomendante
      predeterminado da importação por encomenda previstos na legislação nacional.
      <br>
      6.3 Disposições gerais
      <br>
      6.3.1 Para os fins de aplicação desta NR considera-se EPI o dispositivo ou produto de uso individual utilizado
      pelo trabalhador, concebido e fabricado para oferecer proteção contra os riscos ocupacionais existentes no
      ambiente de trabalho, conforme previsto no Anexo I.
      <br>
      6.3.2 Entende-se como Equipamento Conjugado de Proteção Individual todo aquele utilizado pelo trabalhador,
      composto por vários dispositivos que o fabricante tenha conjugado contra um ou mais riscos ocupacionais existentes
      no ambiente de trabalho.
      <br>
      6.3.3 As solicitações para que os produtos que não estejam relacionados no Anexo I sejam considerados como EPI,
      bem como as propostas para reexame daqueles ora elencados, devem ser avaliadas pelo órgão de âmbito nacional
      competente em matéria de segurança e saúde no trabalho.
      <br>
      6.4 Comercialização e utilização
      <br>
      6.4.1 O EPI, de fabricação nacional ou importado, só pode ser posto à venda ou utilizado com a indicação do
      Certificado de Aprovação - CA, expedido pelo órgão de âmbito nacional competente em matéria de segurança e saúde
      no trabalho.
      <br>
      6.5 Responsabilidades da organização
      <br>
      6.5.1 Cabe à organização, quanto ao EPI:
      <br>
      a) adquirir somente o aprovado pelo órgão de âmbito nacional competente em matéria de segurança e saúde no
      trabalho;
      <br>
      b) orientar e treinar o empregado;
      <br>
      c) fornecer ao empregado, gratuitamente, EPI adequado ao risco, em perfeito estado de conservação e funcionamento,
      nas situações previstas no subitem 1.5.5.1.2 da Norma Regulamentadora nº 01 (NR-01) - Disposições Gerais e
      Gerenciamento de Riscos Ocupacionais, observada a hierarquia das medidas de prevenção;
      <br>
      d) registrar o seu fornecimento ao empregado, podendo ser adotados livros, fichas ou sistema eletrônico,
      inclusive, por sistema biométrico;
      <br>
      e) exigir seu uso;
      <br>
      f) responsabilizar-se pela higienização e manutenção periódica, quando aplicáveis esses procedimentos, em
      conformidade com as informações fornecidas pelo fabricante ou importador;
      <br>
      g) substituir imediatamente, quando danificado ou extraviado; e
      <br>
      h) comunicar ao órgão de âmbito nacional competente em matéria de segurança e saúde no trabalho qualquer
      irregularidade observada.
      <br>
      6.5.1.1 O sistema eletrônico, para fins de registro de fornecimento de EPI, caso seja adotado, deve permitir a
      extração de relatórios.
      <br>
      6.5.1.2 Quando inviável o registro de fornecimento de EPI descartável e creme de proteção, cabe à organização
      garantir sua disponibilização, na embalagem original, em quantidade suficiente para cada trabalhador nos locais de
      trabalho, assegurando-se imediato fornecimento ou reposição.
      <br>
      6.5.1.2.1 Caso não seja mantida a embalagem original, deve-se disponibilizar no local de fornecimento as
      informações de identificação do produto, nome do fabricante ou importador, lote de fabricação, data de validade e
      CA do EPI.
      <br>
      6.5.1.3 A organização pode estabelecer procedimentos específicos para a higienização, manutenção periódica e
      substituição de EPI, referidas nas alíneas "f" e "g" do item 6.5.1, com a correspondente informação aos empregados
      envolvidos, nos termos do capítulo 6.7.
      <br>
      6.5.2 A organização deve selecionar os EPI, considerando:
      <br>
      a) a atividade exercida;
      <br>
      b) as medidas de prevenção em função dos perigos identificados e dos riscos ocupacionais avaliados;
      <br>
      c) o disposto no Anexo I;
      <br>
      d) a eficácia necessária para o controle da exposição ao risco;
      <br>
      e) as exigências estabelecidas em Normas Regulamentadoras e nos dispositivos legais;
      <br>
      f) a adequação do equipamento ao empregado e o conforto oferecido, segundo avaliação do conjunto de empregados; e
      <br>
      g) a compatibilidade, em casos que exijam a utilização simultânea de vários EPI, de maneira a assegurar as
      respectivas eficácias para proteção contra os riscos existentes.
      <br>
      6.5.2.1 A seleção do EPI deve ser registrada, podendo integrar ou ser referenciada no Programa de Gerenciamento de
      Riscos - PGR.
      <br>
      6.5.2.1.1 Para as organizações dispensadas de elaboração do PGR, deve ser mantido registro que especifique as
      atividades exercidas e os respectivos EPI.
      <br>
      6.5.2.2 A seleção do EPI deve ser realizada pela organização com a participação do Serviço Especializado em
      Engenharia de Segurança e em Medicina do Trabalho - SESMT, quando houver, após ouvidos empregados usuários e a
      Comissão Interna de Prevenção de Acidentes - CIPA ou nomeado.
      <br>
      6.5.2.3 A seleção do EPI deve ser revista nas situações previstas no subitem 1.5.4.4.6 da NR-01, quando couber.
      <br>
      6.5.3 A seleção, uso e manutenção de EPI deve, ainda, considerar os programas e regulamentações relacionados a
      EPI.
      <br>
      6.5.4 A seleção do EPI deve considerar o uso de óculos de segurança de sobrepor em conjunto com lentes corretivas
      ou a adaptação do EPI, sem ônus para o empregado, quando for necessária a utilização de correção visual pelo
      empregado no desempenho de suas funções.
      <br>
      6.6 Responsabilidades do trabalhador
      <br>
      6.6.1 Cabe ao trabalhador, quanto ao EPI:
      <br>
      a) usar o fornecido pela organização, observado o disposto no item 6.5.2;
      <br>
      b) utilizar apenas para a finalidade a que se destina;
      <br>
      c) responsabilizar-se pela limpeza, guarda e conservação;
      <br>
      d) comunicar à organização quando extraviado, danificado ou qualquer alteração que o torne impróprio para uso; e
      <br>
      e) cumprir as determinações da organização sobre o uso adequado.
      <br>
      6.7 Treinamentos e informações em segurança e saúde no trabalho
      <br>
      6.7.1 As informações e treinamentos referidos nesta NR devem atender às disposições da NR-01.
      <br>
      6.7.2 Quando do fornecimento de EPI, a organização deve assegurar a prestação de informações, observadas as
      recomendações do manual de instruções fornecidas pelo fabricante ou importador do EPI, em especial sobre:
      <br>
      a) descrição do equipamento e seus componentes;
      <br>
      b) risco ocupacional contra o qual o EPI oferece proteção;
      <br>
      c) restrições e limitações de proteção;
      <br>
      d) forma adequada de uso e ajuste;
      <br>
      e) manutenção e substituição; e
      <br>
      f) cuidados de limpeza, higienização, guarda e conservação.
      <br>
      6.7.2.1 A organização deve realizar treinamento acerca do EPI a ser fornecido, quando as características do EPI
      requeiram, observada a atividade realizada e as exigências estabelecidas em Normas Regulamentadoras e nos
      dispositivos legais.
      <br>
      6.8 Responsabilidades de fabricantes e importadores
      <br>
      6.8.1 Cabe ao fabricante e ao importador de EPI:
      <br>
      a) comercializar ou colocar à venda somente o EPI portador de CA, emitido pelo órgão de âmbito nacional competente
      em matéria de segurança e saúde no trabalho;
      <br>
      b) comercializar o EPI com manual de instruções em língua portuguesa, orientando sua utilização, manutenção,
      processos de limpeza e higienização, restrição e demais referências ao seu uso;
      <br>
      c) comercializar o EPI com as marcações previstas nesta norma;
      <br>
      d) responsabilizar-se pela manutenção da qualidade do EPI que deu origem ao CA; e
      <br>
      e) promover, quando solicitado e se tecnicamente possível, a adaptação do EPI detentor de CA para pessoas com
      deficiência, preservando a sua eficácia.
      <br>
      6.8.1.1 As informações sobre os processos de limpeza e higienização do EPI devem indicar, quando for o caso, o
      número de higienizações acima do qual não é possível garantir a manutenção da proteção original, sendo necessária
      a substituição do equipamento.
      <br>
      6.8.1.2 Salvo disposição em contrário da norma técnica de avaliação, o manual de instruções do EPI pode ser
      disponibilizado em meio eletrônico, desde que presentes na embalagem final ou no próprio EPI:
      <br>
      a) a descrição;
      <br>
      b) os materiais de composição;
      <br>
      c) as instruções de uso;
      <br>
      d) a indicação de proteção oferecida;
      <br>
      e) as restrições e as limitações do equipamento; e
      <br>
      f) o meio de acesso eletrônico ao manual completo do equipamento.
      <br>
      6.9 Certificado de Aprovação - CA
      <br>
      6.9.1 Os procedimentos para emissão e renovação de CA são estabelecidos em regulamento emitido pelo órgão de
      âmbito nacional competente em matéria de segurança e saúde no trabalho.
      <br>
      6.9.2 O CA concedido ao EPI tem validade vinculada ao prazo da avaliação da conformidade definida em regulamento
      emitido pelo órgão de âmbito nacional competente em matéria de segurança e saúde no trabalho.
      <br>
      6.9.2.1 O EPI deve ser comercializado com o CA válido.
      <br>
      6.9.2.1.1 Após adquirido, o fornecimento do EPI deve observar as condições de armazenamento e o prazo de validade
      do equipamento informados pelo fabricante ou importador.
      <br>
      6.9.3 Todo EPI deve apresentar, em caracteres indeléveis, legíveis e visíveis, marcações com o nome comercial do
      fabricante ou do importador, o lote de fabricação e o número do CA.
      <br>
      6.9.3.1 Na impossibilidade de cumprir o determinado no item 6.9.3, pode ser autorizada forma alternativa de
      gravação, devendo esta constar do CA.
      <br>
      6.9.4 É vedada a cessão de uso do CA emitido a determinado fabricante ou importador para que outro fabricante ou
      importador o utilize sem que se submeta ao procedimento regular para a obtenção de CA próprio, ressalvados os
      casos de matriz e filial.
      <br>
      6.9.5 A adaptação do EPI para uso por pessoa com deficiência feita pelo fabricante ou importador detentor do CA,
      prevista no item 6.8.1, não invalida o certificado já emitido, sendo desnecessária a emissão de novo CA.
      <br>
      6.10 Competências
      <br>
      6.10.1 Cabe ao órgão de âmbito nacional competente em matéria de segurança e saúde no trabalho:
      <br>
      a) estabelecer os regulamentos para aprovação de EPI;
      <br>
      b) emitir ou renovar o CA;
      <br>
      c) fiscalizar a qualidade do EPI;
      <br>
      d) solicitar o recolhimento de amostras de EPI ao órgão regional competente em matéria de segurança e saúde no
      trabalho; e
      <br>
      e) suspender e cancelar o CA.
      <br>
      6.10.1.1 Caso seja identificada alguma irregularidade ou em caso de denúncia fundamentada, o órgão de âmbito
      nacional competente em matéria de segurança e saúde no trabalho pode requisitar amostras de EPI ao fabricante ou
      importador.
      <br><br>
      ANEXO I
      <br><br>
      LISTA DE EQUIPAMENTOS DE PROTEÇÃO INDIVIDUAL
      <br><br>
      A - EPI PARA PROTEÇÃO DA CABEÇA
      <br><br>
      A.1 - Capacete:
      <br><br>
      a) capacete para proteção contra impactos de objetos sobre o crânio;
      <br>
      b) capacete para proteção contra choques elétricos; e
      <br>
      c) capacete para proteção do crânio e face contra agentes térmicos.
      <br>
      A.2 - Capuz ou balaclava:
      <br>
      a) capuz para proteção do crânio e pescoço contra agentes térmicos;
      <br>
      b) capuz para proteção do crânio, face e pescoço contra agentes químicos;
      <br>
      c) capuz para proteção do crânio e pescoço contra agentes abrasivos e escoriantes; e
      <br>
      d) capuz para proteção do crânio e pescoço contra umidade proveniente de operações com utilização de água.
      <br>
      B - EPI PARA PROTEÇÃO DOS OLHOS E FACE
      <br>
      B.1 - Óculos:
      <br>
      a) óculos para proteção dos olhos contra impactos de partículas volantes;
      <br>
      b) óculos para proteção dos olhos contra luminosidade intensa;
      <br>
      c) óculos para proteção dos olhos contra radiação ultravioleta;
      <br>
      d) óculos para proteção dos olhos contra radiação infravermelha; e
      <br>
      e) óculos de tela para proteção limitada dos olhos contra impactos de partículas volantes (em cumprimento à
      decisão judicial proferida nos autos 2008.38.11.001984-6, em trâmite na 2ª Vara do Juizado Especial Federal da
      Subseção Judiciária de Divinópolis/MG).
      <br><br>
      B.2 - Protetor facial:
      <br><br>
      a) protetor facial para proteção da face contra impactos de partículas volantes;
      <br>
      b) protetor facial para proteção dos olhos contra luminosidade intensa;
      <br>
      c) protetor facial para proteção da face contra radiação infravermelha;
      <br>
      d) protetor facial para proteção da face contra radiação ultravioleta; e
      <br>
      e) protetor facial para proteção da face contra agentes térmicos.
      <br><br>
      B.3 - Máscara de solda para proteção dos olhos e face contra impactos de partículas volantes, radiação
      ultravioleta, radiação infravermelha e luminosidade intensa.
      <br><br>
      C - EPI PARA PROTEÇÃO AUDITIVA
      <br><br>
      C.1 - Protetor auditivo:
      <br><br>
      a) protetor auditivo circum-auricular para proteção do sistema auditivo contra níveis de pressão sonora superiores
      ao estabelecido na NR-15, Anexos nº 1 e 2;
      <br>
      b) protetor auditivo de inserção para proteção do sistema auditivo contra níveis de pressão sonora superiores ao
      estabelecido na NR-15, Anexos nº 1 e 2; e
      <br>
      c) protetor auditivo semiauricular para proteção do sistema auditivo contra níveis de pressão sonora superiores ao
      estabelecido na NR-15, Anexos nº 1 e 2.
      <br><br>
      D - EPI PARA PROTEÇÃO RESPIRATÓRIA
      <br><br>
      D.1 - Respirador purificador de ar não motorizado:
      <br><br>
      a) peça semifacial filtrante para partículas PFF1 para proteção das vias respiratórias contra poeiras e névoas;
      <br>
      b) peça semifacial filtrante para partículas PFF2 para proteção das vias respiratórias contra poeiras, névoas e
      fumos;
      <br>
      c) peça semifacial filtrante para partículas PFF3 para proteção das vias respiratórias contra poeiras, névoas,
      fumos e radionuclídeos;
      <br>
      d) peça um quarto facial ou semifacial com filtros para partículas classe P1, para proteção das vias respiratórias
      contra poeiras e névoas; peça um quarto facial, semifacial ou facial inteira com filtros para partículas classe
      P2, para proteção das vias respiratórias contra poeira, névoas e fumos, ou com filtros para partículas classe P3,
      para proteção das vias respiratórias contra poeiras, névoas, fumos ou radionuclídeos; e
      <br>
      e) peça um quarto facial, semifacial ou facial inteira com filtros químicos para proteção das vias respiratórias
      contra gases e vapores; ou com filtros combinados para proteção das vias respiratórias contra gases e vapores e/ou
      material particulado.
      <br><br>
      D.2 - Respirador purificador de ar motorizado:
      <br><br>
      a) sem vedação facial tipo touca com anteparo tipo protetor facial, capuz ou capacete com filtros para partículas
      para proteção das vias respiratórias contra material particulado; ou com filtros químicos para proteção contra
      gases e vapores; ou com filtros combinados para proteção contra material particulado e/ou gases e vapores; e
      <br>
      b) com vedação facial tipo peça semifacial ou facial inteira com filtros para partículas para proteção das vias
      respiratórias contra material particulado; ou com filtros químicos para proteção contra gases e vapores; ou com
      filtros combinados para proteção contra material particulado e/ou gases e vapores.
      <br><br>
      D.3 - Respirador de adução de ar tipo linha de ar comprimido:
      <br><br>
      a) sem vedação facial de fluxo contínuo tipo capuz, protetor facial ou capacete, para proteção das vias
      respiratórias em atmosferas com concentração de oxigênio maior que 12,5% ao nível do mar;
      <br>
      b) sem vedação facial de fluxo contínuo tipo capuz ou capacete, para proteção das vias respiratórias em operações
      de jateamento e em atmosferas com concentração de oxigênio maior que 12,5% ao nível do mar;
      <br>
      c) com vedação facial de fluxo contínuo tipo peça semifacial ou facial inteira, para proteção das vias
      respiratórias em atmosferas com concentração de oxigênio maior que 12,5% ao nível do mar;
      <br>
      d) de demanda com ou sem pressão positiva, com peça semifacial ou facial inteira, para proteção das vias
      respiratórias em atmosferas com concentração de oxigênio maior que 12,5% ao nível do mar; e
      <br>
      e) de demanda com pressão positiva, com peça facial inteira, combinado com cilindro auxiliar para fuga, para
      proteção das vias respiratórias em atmosferas Imediatamente Perigosas à Vida e à Saúde - IPVS.
      <br><br>
      D.4 - Respirador de adução de ar tipo máscara autônoma:
      <br><br>
      a) de circuito aberto de demanda com pressão positiva, com peça facial inteira, para proteção das vias
      respiratórias em atmosferas IPVS; e
      <br>
      b) de circuito fechado de demanda com pressão positiva, com peça facial inteira, para proteção das vias
      respiratórias em atmosferas IPVS.
      <br><br>
      D.5 - Respirador de fuga:
      <br><br>
      a) tipo purificador de ar para fuga, com bocal e pinça nasal, capuz ou peça facial, para proteção das vias
      respiratórias contra gases e vapores, quando utilizado com filtros químicos ou combinados, ou contra material
      particulado, quando utilizado com filtros para partículas ou combinados, em condições de escape de atmosferas
      perigosas com concentração de oxigênio maior que 18% ao nível do mar; e
      <br>
      b) tipo máscara autônoma para fuga, com bocal e pinça nasal, capuz ou peça facial inteira, para proteção das vias
      respiratórias em condições de escape de atmosferas IPVS.
      <br><br>
      E - EPI PARA PROTEÇÃO DO TRONCO
      <br><br>
      E.1 - Vestimentas:
      <br><br>
      a) vestimenta para proteção do tronco contra agentes térmicos;
      <br>
      b) vestimenta para proteção do tronco contra agentes mecânicos;
      <br>
      c) vestimenta para proteção do tronco contra agentes químicos;
      <br>
      d) vestimenta para proteção do tronco contra radiação ionizante;
      <br>
      e) vestimenta para proteção do tronco contra umidade proveniente de precipitação pluviométrica; e
      <br>
      f) vestimenta para proteção do tronco contra umidade proveniente de operações com utilização de água.
      <br><br>
      E.2 - Colete à prova de balas de uso permitido para vigilantes que trabalhem portando arma de fogo, para proteção
      do tronco contra agentes mecânicos.
      <br><br>
      F - EPI PARA PROTEÇÃO DOS MEMBROS SUPERIORES
      <br><br>
      F.1 - Luvas:
      <br><br>
      a) luvas para proteção das mãos contra agentes abrasivos e escoriantes;
      <br>
      b) luvas para proteção das mãos contra agentes cortantes e perfurantes;
      <br>
      c) luvas para proteção das mãos contra choques elétricos;
      <br>
      d) luvas para proteção das mãos contra agentes térmicos;
      <br>
      e) luvas para proteção das mãos contra agentes biológicos;
      <br>
      f) luvas para proteção das mãos contra agentes químicos;
      <br>
      g) luvas para proteção das mãos contra vibrações;
      <br>
      h) luvas para proteção contra umidade proveniente de operações com utilização de água; e
      <br>
      i) luvas para proteção das mãos contra radiação ionizante.
      <br>
      F.2 - Creme protetor de segurança para proteção dos membros superiores contra agentes químicos.
      <br>
      F.3 - Manga:
      <br>
      a) manga para proteção do braço e do antebraço contra choques elétricos;
      <br>
      b) manga para proteção do braço e do antebraço contra agentes abrasivos e escoriantes;
      <br>
      c) manga para proteção do braço e do antebraço contra agentes cortantes e perfurantes;
      <br>
      d) manga para proteção do braço e do antebraço contra umidade proveniente de operações com utilização de água;
      <br>
      e) manga para proteção do braço e do antebraço contra agentes térmicos; e
      <br>
      f) manga para proteção do braço e do antebraço contra agentes químicos.
      <br><br>
      F.4 - Braçadeira:
      <br><br>
      a) braçadeira para proteção do antebraço contra agentes cortantes; e
      <br>
      b) braçadeira para proteção do antebraço contra agentes escoriantes.
      <br><br>
      F.5 - Dedeira para proteção dos dedos contra agentes abrasivos e escoriantes.
      <br><br>
      G - EPI PARA PROTEÇÃO DOS MEMBROS INFERIORES
      <br><br>
      G.1 - Calçado:
      <br><br>
      a) calçado para proteção contra impactos de quedas de objetos sobre os artelhos;
      <br>
      b) calçado para proteção dos pés contra choques elétricos;
      <br>
      c) calçado para proteção dos pés contra agentes térmicos;
      <br>
      d) calçado para proteção dos pés contra agentes abrasivos e escoriantes;
      <br>
      e) calçado para proteção dos pés contra agentes cortantes e perfurantes;
      <br>
      f) calçado para proteção dos pés e pernas contra umidade proveniente de operações com utilização de água; e
      <br>
      g) calçado para proteção dos pés e pernas contra agentes químicos.
      <br><br>
      G.2 - Meia para proteção dos pés contra baixas temperaturas.
      <br><br>
      G.3 - Perneira:
      <br><br>
      a) perneira para proteção da perna contra agentes abrasivos e escoriantes;
      <br>
      b) perneira para proteção da perna contra agentes cortantes e perfurantes;
      <br>
      c) perneira para proteção da perna contra agentes térmicos;
      <br>
      d) perneira para proteção da perna contra agentes químicos; e
      <br>
      e) perneira para proteção da perna contra umidade proveniente de operações com utilização de água.
      <br><br>
      G.4 - Calça:
      <br><br>
      a) calça para proteção das pernas contra agentes abrasivos e escoriantes;
      <br>
      b) calça para proteção das pernas contra agentes cortantes e perfurantes;
      <br>
      c) calça para proteção das pernas contra agentes químicos;
      <br>
      d) calça para proteção das pernas contra agentes térmicos;
      <br>
      e) calça para proteção das pernas contra umidade proveniente de operações com utilização de água; e
      <br>
      f) calça para proteção das pernas contra umidade proveniente de precipitação pluviométrica.
      <br><br>
      H - EPI PARA PROTEÇÃO DO CORPO INTEIRO
      <br><br>
      H.1 - Macacão:
      <br><br>
      a) macacão para proteção do tronco e membros superiores e inferiores contra agentes térmicos;
      <br>
      b) macacão para proteção do tronco e membros superiores e inferiores contra agentes químicos;
      <br>
      c) macacão para proteção do tronco e membros superiores e inferiores contra umidade proveniente de operações com
      utilização de água; e
      <br>
      d) macacão para proteção do tronco e membros superiores e inferiores contra umidade proveniente de precipitação
      pluviométrica.
      <br><br>
      H.2 - Vestimenta de corpo inteiro:
      <br><br>
      a) vestimenta para proteção de todo o corpo contra agentes químicos;
      <br>
      b) vestimenta condutiva para proteção de todo o corpo contra choques elétricos;
      <br>
      c) vestimenta para proteção de todo o corpo contra umidade proveniente de operações com utilização de água; e
      <br>
      d) vestimenta para proteção de todo o corpo contra umidade proveniente de precipitação pluviométrica.
      <br><br>
      I - EPI PARA PROTEÇÃO CONTRA QUEDAS COM DIFERENÇA DE NÍVEL
      <br><br><br>
      I.1 - Cinturão de segurança com dispositivo trava-queda para proteção do usuário contra quedas em operações com
      movimentação vertical ou horizontal.
      <br><br>
      I.2 - Cinturão de segurança com talabarte:
      <br><br>
      a) cinturão de segurança com talabarte para proteção do usuário contra riscos de queda em trabalhos em altura; e
      <br>
      b) cinturão de segurança com talabarte para proteção do usuário contra riscos de queda no posicionamento em
      trabalhos em altura.
      <br><br>
      Glossário:
      <br><br>
      Adquirente da importação por conta e ordem de terceiro: a pessoa jurídica que realiza transação comercial de
      compra e venda da mercadoria no exterior, em seu nome e com recursos próprios, e contrata o importador por conta e
      ordem para promover o despacho aduaneiro de importação.
      <br><br>
      Aprovação de EPI: emissão do CA pelo órgão nacional competente em matéria de segurança e saúde no trabalho.
      <br><br>
      Avaliação de conformidade: demonstração de que os requisitos especificados são atendidos.
      <br><br>
      Certificado de Aprovação: documento emitido pelo órgão nacional competente em matéria de segurança e saúde no
      trabalho autorizando a comercialização e utilização do EPI no território nacional.
      <br><br>
      Encomendante predeterminado: a pessoa jurídica que contrata o importador por encomenda para realizar a transação
      comercial de compra e venda de mercadoria estrangeira a ser importada, o despacho aduaneiro de importação e a
      revenda ao próprio encomendante predeterminado.
      <br><br>
      Higienização: remoção de contaminantes que necessitam de cuidados ou procedimentos específicos. Contempla os
      processos de descontaminação e desinfecção.
      <br><br>
      Limpeza: remoção de sujidades e resíduos de forma manual ou mecânica, utilizando produtos de uso comum, tais como
      água, detergente, sabão ou sanitizante.
      <br><br>
      Nome comercial: Para fins desta NR, é considerada a razão social ou nome fantasia, que conste no Cadastro Nacional
      da Pessoa Jurídica - CNPJ, emitido pela Receita Federal do Brasil, ou, ainda, marca registrada da qual o
      fabricante ou importador do EPI seja o detentor.
      <br><br>
      Sistema biométrico: Para fins desta NR, é considerado o sistema que analisa características físicas para
      identificar de forma inequívoca um indivíduo, como por exemplo impressão digital, reconhecimento facial e íris.

      <br>
    </ion-card-content>
  </ion-card>
</ion-content>